<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="DOCX" path="*.docx" verb="*" type="CRIFItalia.App_Code.FileHandler"  />
      <add name="XLSX" path="*.xlsx" verb="*" type="CRIFItalia.App_Code.FileHandler" />
      <add name="DOC" path="*.doc" verb="*" type="CRIFItalia.App_Code.FileHandler" />
      <add name="XLS" path="*.xls" verb="*" type="CRIFItalia.App_Code.FileHandler" />
      <add name="PDF" path="*.pdf" verb="*" type="CRIFItalia.App_Code.FileHandler" />
      <add name="MP3" path="*.mp3" verb="*" type="CRIFItalia.App_Code.FileHandler" />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers>
  </system.webServer>
</configuration> 