<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee6c9659-df21-45fc-b0b6-78d0b538692c" Alias="Any Form Theme Picker" Level="1">
  <Info>
    <Name>Any Form Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>