<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7947f361-9871-43c8-8895-78d3b312288b" Alias="Any Form Picker" Level="1">
  <Info>
    <Name>Any Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowedForms": []
}]]></Config>
</DataType>