<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2da7add9-755c-4f13-8865-d0045f4566e0" Alias="Area Stampa Single - Single Area Stampa Custom Date - DateTime" Level="1">
  <Info>
    <Name>Area Stampa Single - Single Area Stampa Custom Date - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "DD-MM-YYYY",
  "OffsetTime": false
}]]></Config>
</DataType>