<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8cd2c57f-2b12-489c-a042-0d0c8cc59d39" Alias="Area Stampa - Mostrare Listing - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Area Stampa - Mostrare Listing - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "elementiPerPagina,titoloListing,altriBlocchi"
}]]></Config>
</DataType>