<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22d3c837-a18b-4a2f-be21-586bd2cdcabe" Alias="Articolo Storie Di Successo - Client Name - Textbox" Level="1">
  <Info>
    <Name>Articolo Storie Di Successo - Client Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>