<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0fae30c8-38e0-40c3-975b-9c81182a10e5" Alias="Articolo Storie Di Successo - Mostrare Altri Contenuti - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Articolo Storie Di Successo - Mostrare Altri Contenuti - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloAltriContenuti, altriBlocchi"
}]]></Config>
</DataType>