<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80ae2ef0-4f07-43fe-a152-71ea876da22d" Alias="Articolo - Topics - Textbox" Level="1">
  <Info>
    <Name>Articolo - Topics - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>