<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1aed7a09-d300-474e-9c0c-0a3654420907" Alias="Articolo - Mercati - Multinode Treepicker" Level="1">
  <Info>
    <Name>Articolo - Mercati - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "mercato",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>