<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea728c51-5a54-4982-830a-f7a8c3565381" Alias="Articolo Storie Di Successo - Trend Topics - Multinode Treepicker" Level="1">
  <Info>
    <Name>Articolo Storie Di Successo - Trend Topics - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "trendTopicTag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>