<?xml version="1.0" encoding="utf-8"?>
<DataType Key="512facf8-9be5-4fa3-bdea-718b7470030a" Alias="Articolo Storie Di Successo - Product Tag - Textbox" Level="1">
  <Info>
    <Name>Articolo Storie Di Successo - Product Tag - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>