<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95173194-acae-4850-bee7-a53404226ade" Alias="Articolo - Market - Textbox" Level="1">
  <Info>
    <Name>Articolo - Market - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>