<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b48dc7c-2477-410d-b478-2352d8bfa6fe" Alias="Articolo - Date And Location - Textbox" Level="1">
  <Info>
    <Name>Articolo - Date And Location - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>