<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5754624d-ddfd-44a3-a614-81306f5e40cc" Alias="Articolo Storie Di Successo - Date And Location - Textbox" Level="1">
  <Info>
    <Name>Articolo Storie Di Successo - Date And Location - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>