<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03d16fe0-7f67-451b-8902-486e5fb86bdb" Alias="Articolo - Trend Topic - Multinode Treepicker" Level="1">
  <Info>
    <Name>Articolo - Trend Topic - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "trendTopicTag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>