<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bdc8aaad-79db-4239-9896-bd176708b449" Alias="Articolo Storie Di Successo - Topics - Textbox" Level="1">
  <Info>
    <Name>Articolo Storie Di Successo - Topics - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>