<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5d63c8e-c81d-4a86-8cd7-04230823cc3c" Alias="Block Contatto - Card Contatto - Block List" Level="1">
  <Info>
    <Name>Block Contatto - Card Contatto - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d4a3f648-4135-4a50-afd3-e35b2e6fb460",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>