<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32d049bc-9273-46ba-8843-3e03e6ff7d1f" Alias="Block Caso Uso - Lista Soluzioni - Multinode Treepicker" Level="1">
  <Info>
    <Name>Block Caso Uso - Lista Soluzioni - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "soluzione,category",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>