<?xml version="1.0" encoding="utf-8"?>
<DataType Key="102e08a1-1d16-4e7c-b23d-3f21056caf56" Alias="Block Paragraph - Display Box Small - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Paragraph - Display Box Small - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0"
}]]></Config>
</DataType>