<?xml version="1.0" encoding="utf-8"?>
<DataType Key="beb2c8ea-3a69-4ae0-a999-f62d0d0e09d9" Alias="Block Accordion Item - Offices - Block List" Level="1">
  <Info>
    <Name>Block Accordion Item - Offices - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "53efe587-47f4-4bfe-b75d-4ca4d05f4f5c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>