<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9a808e8-d8e5-480c-808a-cc0507db6a54" Alias="Block List Cards Settings - Mostrare Trend Topic - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block List Cards Settings - Mostrare Trend Topic - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "selezionaTrendTopic"
}]]></Config>
</DataType>