<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a698982c-8f68-417a-b404-47c786e29f55" Alias="Block Menu Countries - Countries Settings - Block List" Level="1">
  <Info>
    <Name>Block Menu Countries - Countries Settings - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4de5062f-5621-415c-b854-e1a6a5bcfb8e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>