<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ed32d85-89da-4928-a0f4-7a432a2d456f" Alias="Block Ask Info Settings - Image Alignment - Radio button list" Level="1">
  <Info>
    <Name>Block Ask Info Settings - Image Alignment - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "left"
    },
    {
      "id": 2,
      "value": "right"
    }
  ]
}]]></Config>
</DataType>