<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53dc9acc-d2f8-477e-b397-a49275fd00b8" Alias="Block Counter List - Select Layout - Dropdown" Level="1">
  <Info>
    <Name>Block Counter List - Select Layout - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "3 card per row"
    },
    {
      "id": 2,
      "value": "4 card per row"
    },
    {
      "id": 3,
      "value": "3 card in one row"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>