<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f88c790-48e8-4aef-9f33-147d442647cc" Alias="Block Caso Uso - Lista Link Esterni - Multi URL Picker" Level="1">
  <Info>
    <Name>Block Caso Uso - Lista Link Esterni - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>