<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ea4912f-40c0-4278-b389-85295aa9ba05" Alias="Block Single Table Entry - Is Icon Field - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Single Table Entry - Is Icon Field - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "singleIcon",
  "showIfUnchecked": "textContent"
}]]></Config>
</DataType>