<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20107261-884e-4f4a-b715-8413724fa5cb" Alias="Block Table Row - Row Entries - Repeatable textstrings" Level="1">
  <Info>
    <Name>Block Table Row - Row Entries - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>