<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bcb72bc-f155-4ebe-bcf1-2bfd09f95ec9" Alias="Block Table Row - Row Entries - Block List" Level="1">
  <Info>
    <Name>Block Table Row - Row Entries - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d2f83ff5-99ea-4ece-8feb-7795cab21a8b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>