<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24e1fd61-42ff-4c3d-8e26-5bf3c8b3e5a6" Alias="Block Highlights - Highlight Cards - Block List" Level="1">
  <Info>
    <Name>Block Highlights - Highlight Cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2fd649bc-19f2-42ad-9fa1-64150fe09c27",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>