<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f185460-d335-4aa2-8afe-0b1aff247c64" Alias="Block Highlights Settings - Popolare Card Con Contenuti - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Highlights Settings - Popolare Card Con Contenuti - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "contenutiHighlight, labelCategoria"
}]]></Config>
</DataType>