<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b077a329-9651-4843-9919-66904d9772b2" Alias="Block Paragraph Settings - Selected Content - Multinode Treepicker" Level="1">
  <Info>
    <Name>Block Paragraph Settings - Selected Content - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "consumatoriProdotto,contatto,family,mercato,soluzione,articoloStorieDiSuccesso,articolo",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>