<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ec7791a-cb09-4230-8bbc-394e7096b165" Alias="Block Single Table Entry - Is CTA - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Single Table Entry - Is CTA - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "singleCTA",
  "showIfUnchecked": "isIconField"
}]]></Config>
</DataType>