<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0ec87ed-78bd-4cd4-adbb-bf9a4549289d" Alias="Block Key Point - Key Points - Block List" Level="1">
  <Info>
    <Name>Block Key Point - Key Points - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ff94a9e1-6a3e-46fe-a8d6-0fdd107adfa3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>