<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c4dc062-c78e-4126-bc35-344ba60af8f2" Alias="Block Contatto Settings - Layout Contatto - Dropdown" Level="1">
  <Info>
    <Name>Block Contatto Settings - Layout Contatto - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Light"
    },
    {
      "id": 2,
      "value": "Grey"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>