<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e743af4-495d-46a1-b4f8-bb0aa395f0a6" Alias="Block Lancio Prodotto - Display Titolo Sezione - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Lancio Prodotto - Display Titolo Sezione - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloSezione, sottotitoloSezione"
}]]></Config>
</DataType>