<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa1f4502-958e-4045-aec9-a35a016f7e97" Alias="Block KE Card List - Abilita - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block KE Card List - Abilita - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "autoCardListTitle,autoCardListSubtitle,cardListTypologies",
  "showIfUnchecked": "cardListTitle,cardListSubtitle,cardList"
}]]></Config>
</DataType>