<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8e7992c-a14b-4660-9a55-3f9b00b13f22" Alias="Block Paragraph Settings - Has Aside - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Paragraph Settings - Has Aside - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "asideTitle, selectContent"
}]]></Config>
</DataType>