<?xml version="1.0" encoding="utf-8"?>
<DataType Key="571b08c2-4723-4bba-a41b-7221e629ca79" Alias="Block List Cards Settings - Seleziona Trend Topic - Multinode Treepicker" Level="1">
  <Info>
    <Name>Block List Cards Settings - Seleziona Trend Topic - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "trendTopicTag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>