<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca78f641-2f26-49a3-b774-06ecffba819d" Alias="Block Internal Link - Use Anchor ID - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Internal Link - Use Anchor ID - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "blockAnchorID",
  "showIfUnchecked": "blockSelector"
}]]></Config>
</DataType>