<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8810b72f-2198-4780-b509-7457fc2a7db9" Alias="Block Background Box - Country List Layout - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Background Box - Country List Layout - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "countryList",
  "showIfUnchecked": "counterListTitle, displayCounterCards, selectLayout, cardCounterList, title, text, callToAction, displayPartnerList, partnerListTitle, partnerLogoList"
}]]></Config>
</DataType>