<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a12b05e8-9cb5-438c-a9f2-677b728607d2" Alias="Block Social Link - Social - Dropdown" Level="1">
  <Info>
    <Name>Block Social Link - Social - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "facebook"
    },
    {
      "id": 2,
      "value": "instagram"
    },
    {
      "id": 3,
      "value": "linkedIn"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>