<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3fc38228-5e4f-4349-bfb0-69409725f9e6" Alias="Block Ask Info Settings - Radio button list" Level="1">
  <Info>
    <Name>Block Ask Info Settings - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "light"
    },
    {
      "id": 2,
      "value": "dark"
    },
    {
      "id": 3,
      "value": "compact light"
    }
  ]
}]]></Config>
</DataType>