<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11ba4e6c-6440-4c84-8145-80ac33edd7f4" Alias="Block KE Card List - Card List Typologies - Multinode Treepicker" Level="1">
  <Info>
    <Name>Block KE Card List - Card List Typologies - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "newsEdEventi,news,eventi,articolo,ricercheAcademy,ricerche,academy,ricercheAcademyCategoria,areaStampa,articoloStorieDiSuccesso,storieDiSuccesso",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>