<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64acee3b-f97b-4474-9693-6691133cb1c2" Alias="Block Ask Info Settings - CTA Layout - Radio button list" Level="1">
  <Info>
    <Name>Block Ask Info Settings - CTA Layout - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "button"
    },
    {
      "id": 2,
      "value": "link"
    }
  ]
}]]></Config>
</DataType>