<?xml version="1.0" encoding="utf-8"?>
<DataType Key="747c77c3-a883-49d0-bc89-f585cc775a8c" Alias="Block Card Soluzioni - Mostrare Singole Soluzioni - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Card Soluzioni - Mostrare Singole Soluzioni - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "contenutoSoluzioni",
  "showIfUnchecked": "contenutoCategoria"
}]]></Config>
</DataType>