<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c68645b-5351-4707-a069-f7efbb52a8a4" Alias="Block Box Small - Is Clickable" Level="1">
  <Info>
    <Name>Block Box Small - Is Clickable</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "link"
}]]></Config>
</DataType>