<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f93f5a0-0112-41d7-8d6d-c622d40a77ac" Alias="Block Background Box - Display Counter Cards - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Background Box - Display Counter Cards - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "cardCounterList, counterListTitle, selectLayout"
}]]></Config>
</DataType>