<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3050d13-68b2-4dc4-a38c-f93f8bb9a821" Alias="Block Prodotti Due Colonne - Contenuto Colonne - Block List" Level="1">
  <Info>
    <Name>Block Prodotti Due Colonne - Contenuto Colonne - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b85bb0b0-f2d9-4349-8d9a-686c23c32c60",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": 2,
    "min": null
  }
}]]></Config>
</DataType>