<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f951cd6f-44f5-419d-9508-006bb1128fc4" Alias="Block Atom RTE - CTA Field - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Atom RTE - CTA Field - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "link",
  "showIfUnchecked": "rTe"
}]]></Config>
</DataType>