<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e15c054-cc31-4140-af48-e88a958b9c73" Alias="Block City List - City Name - Repeatable textstrings" Level="1">
  <Info>
    <Name>Block City List - City Name - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 1
}]]></Config>
</DataType>