<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e3ea2d0-c778-4275-8ab0-0768042290a5" Alias="Block KE Card List - Card List - Block List" Level="1">
  <Info>
    <Name>Block KE Card List - Card List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2e57e44a-0b5b-4211-a56d-f791c4c42a34",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>