<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35fb9548-59e0-429b-9949-da94781663eb" Alias="Block Lancio Prodotto Settings - Layout Lancio Prodotto - Dropdown" Level="1">
  <Info>
    <Name>Block Lancio Prodotto Settings - Layout Lancio Prodotto - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Layout Bianco"
    },
    {
      "id": 2,
      "value": "Layout Blu"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>