<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fc23f1d-f72f-4021-b617-8755c0a8f1a1" Alias="Block Recensioni Clienti - Recensioni - Block List" Level="1">
  <Info>
    <Name>Block Recensioni Clienti - Recensioni - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e6e24247-02e7-492e-b251-9cf6c7d9da95",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>