<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d6c973a-aaf9-43d9-985b-ee527299efe8" Alias="Block Lancio Prodotto - Display CTA - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Lancio Prodotto - Display CTA - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloCTA, BottoneCTA"
}]]></Config>
</DataType>