<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b33f002d-327d-4aa4-b966-e8575d217a24" Alias="Block List Cards Large Image - Card List - Block List" Level="1">
  <Info>
    <Name>Block List Cards Large Image - Card List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "82b6eb7a-742a-4746-a5c0-a30044692ea8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>