<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0914c9db-6c3d-453a-a0e0-12ee096693bc" Alias="Block Key Benefits - Key Benefits List - Block List" Level="1">
  <Info>
    <Name>Block Key Benefits - Key Benefits List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "aed9c89f-d457-4f77-9134-2b7868a60c4a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>