<?xml version="1.0" encoding="utf-8"?>
<DataType Key="658f36bd-7174-4b8d-8fef-0eeba6aa45f9" Alias="Block List Cards Prodotti - Cards Prodotti - Block List" Level="1">
  <Info>
    <Name>Block List Cards Prodotti - Cards Prodotti - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0f113cf1-cece-4b74-bbda-288fed7aefa5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>