<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4267bc1-98fc-47e9-9234-ff26d41dca36" Alias="Block Accordion Item - Block List" Level="1">
  <Info>
    <Name>Block Accordion Item - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b09762ef-9871-40e3-a839-3051b632cfdc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "7ede125e-2957-4a19-92fa-021f64d93a24",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>