<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c33dc2df-0046-4ea0-aef4-2a6529870ace" Alias="Block Istruzioni - Istruzioni - Block List" Level="1">
  <Info>
    <Name>Block Istruzioni - Istruzioni - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e3a92e9b-6ad2-4e04-a51d-6ed23c611d29",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>