<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e08caf5-da36-4769-93c2-ef67e55fe9b2" Alias="Block Highlights - Highlight Cards - Multinode Treepicker" Level="1">
  <Info>
    <Name>Block Highlights - Highlight Cards - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "singleNewsEvents",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>