<?xml version="1.0" encoding="utf-8"?>
<DataType Key="689e4b23-a8c9-4139-8039-057400945109" Alias="Block List Cards Settings - Content Type - Multinode Treepicker" Level="1">
  <Info>
    <Name>Block List Cards Settings - Content Type - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "servizi",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>