<?xml version="1.0" encoding="utf-8"?>
<DataType Key="817dfa42-e2a8-42e1-bd8f-22f59a901aa4" Alias="Block Paragraph - Has Box Small - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Paragraph - Has Box Small - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "boxSmallList, blockListTitle"
}]]></Config>
</DataType>