<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1dde341-14d4-4c23-88be-9b1670bd6c1c" Alias="Block Card Soluzioni - Contenuto Soluzioni - Multinode Treepicker" Level="1">
  <Info>
    <Name>Block Card Soluzioni - Contenuto Soluzioni - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "soluzione",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>