<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00f7d9ef-cf88-4697-af22-0ae4589ba23b" Alias="Block Social Link - Custom Social - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Social Link - Custom Social - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "customSocialLabel, customSocialLink, customSocialIconLight, customSocialIconDark"
}]]></Config>
</DataType>