<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49cce7a6-7a4f-4bbb-91dc-ccf477b92fa7" Alias="Block Single Use Case - test - Multinode Treepicker" Level="1">
  <Info>
    <Name>Block Single Use Case - test - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "solutions",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>