<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0348b29-387f-408d-8320-f746ccbc72af" Alias="Block Recensioni Clienti Con Loghi - Recensioni Clienti - Block List" Level="1">
  <Info>
    <Name>Block Recensioni Clienti Con Loghi - Recensioni Clienti - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "51718982-64d9-435d-bf62-8141b428383f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>