<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f49eb51-dbdc-490e-a74b-86300ecdd98c" Alias="Block Ask Info Settings - Call To Action layout - Radio button list" Level="1">
  <Info>
    <Name>Block Ask Info Settings - Call To Action layout - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "button"
    },
    {
      "id": 2,
      "value": "link"
    }
  ]
}]]></Config>
</DataType>