<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dda683bb-c8b6-4fc5-b7b3-b2c813ab2ba1" Alias="Block List Card Icona Titolo Descrizione - Lista Card - Block List" Level="1">
  <Info>
    <Name>Block List Card Icona Titolo Descrizione - Lista Card - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "91db758b-c8a0-4317-8f09-c18d51dcacec",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>