<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ac72271-3154-44e0-99a4-6f02b716d1a3" Alias="Block Text and Image - Image Position - Dropdown" Level="1">
  <Info>
    <Name>Block Text and Image - Image Position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "left"
    },
    {
      "id": 2,
      "value": "right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>