<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2111e1f9-f5fa-4e85-8b9f-daf1aa7ce4ad" Alias="Block Highlights Settings - Contenuti Highlight - Multinode Treepicker" Level="1">
  <Info>
    <Name>Block Highlights Settings - Contenuti Highlight - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "articolo,articoloStorieDiSuccesso",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>