<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e2a0095-861b-4cfb-bfc8-b356fa9fe4f5" Alias="Block Background Box - Display Partner List - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Background Box - Display Partner List - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "partnerListTitle, partnerLogoList"
}]]></Config>
</DataType>