<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85b5b37f-b0df-4610-b7b2-29c85448ca97" Alias="Block Paragraph - Radio button list" Level="1">
  <Info>
    <Name>Block Paragraph - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "center"
    },
    {
      "id": 2,
      "value": "left"
    },
    {
      "id": 3,
      "value": "right"
    }
  ]
}]]></Config>
</DataType>