<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3f32971-3337-46a4-a1ca-7b0a6eb13464" Alias="Block Internal Link - Block Selector - Dropdown" Level="1">
  <Info>
    <Name>Block Internal Link - Block Selector - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "Solutions - Service"
    },
    {
      "id": 3,
      "value": "Use Case - Industry"
    },
    {
      "id": 6,
      "value": "Success Stories"
    },
    {
      "id": 7,
      "value": "Related Resources"
    },
    {
      "id": 8,
      "value": "News & Events"
    },
    {
      "id": 9,
      "value": "Trend Topics"
    },
    {
      "id": 10,
      "value": "Prodotti - Altri Prodotti"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>