<?xml version="1.0" encoding="utf-8"?>
<DataType Key="252186f8-3309-4794-a5f5-651e5d7e0ee6" Alias="Block Card Soluzioni - Contenuto Card - Multinode Treepicker" Level="1">
  <Info>
    <Name>Block Card Soluzioni - Contenuto Card - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "category",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>