<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9806be07-0de9-4ac9-b9f8-88389001eedb" Alias="Block Riconoscimenti - Card Riconoscimenti - Block List" Level="1">
  <Info>
    <Name>Block Riconoscimenti - Card Riconoscimenti - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2f5ded28-30cd-4ee4-a0b7-774850d6fe74",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>