<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e6a5b1b-56bd-45ff-9311-cdb011b38942" Alias="Block Contatto - Informazioni Contatto - Block List" Level="1">
  <Info>
    <Name>Block Contatto - Informazioni Contatto - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8bfa3c9a-1215-46f4-8ad8-9131ad991050",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": 3,
    "min": null
  }
}]]></Config>
</DataType>