<?xml version="1.0" encoding="utf-8"?>
<DataType Key="42fe324c-b54e-48ad-8f45-f45180698cac" Alias="Block Accordion Settings - Toggle" Level="1">
  <Info>
    <Name>Block Accordion Settings - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Fullwidth off",
  "LabelOn": "Fullwidth on",
  "ShowLabels": false
}]]></Config>
</DataType>