<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3edbb4b5-b275-43ec-8321-9dcb949b16c1" Alias="Block Contatto - Usare Informazioni - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Contatto - Usare Informazioni - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "informazioniContatto",
  "showIfUnchecked": "descrizioneContatto, ctaContatto"
}]]></Config>
</DataType>