<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea2ec1cf-ee1b-4d45-84e4-6a9308ca6be3" Alias="Block Partner Logo List -  Block List" Level="1">
  <Info>
    <Name>Block Partner Logo List -  Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5e579185-1fce-4dc3-998d-811628c1f226",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>