<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0211677-f01b-45b9-90fb-2b6d9ed0c5aa" Alias="Block Accordion Item - Plain text or Offices details - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Accordion Item - Plain text or Offices details - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "offices",
  "showIfUnchecked": "accordionDescription"
}]]></Config>
</DataType>