<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b97d024a-d00f-4b96-964a-8ba06fc43879" Alias="Block Hero - Hero Layout - Dropdown Conditional Displayer" Level="1">
  <Info>
    <Name>Block Hero - Hero Layout - Dropdown Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdDropdownFlexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "Primary",
      "show": "heroTitle, heroBackground, heroCTA",
      "hide": "heroDescription, heroBreadcrumb, heroCTAS"
    },
    {
      "value": "Secondary",
      "show": "heroTitle, heroBackground, heroDescription, heroBreadcrumb",
      "hide": "heroCTA, heroCTAS"
    },
    {
      "value": "Tertiary",
      "show": "heroTitle, heroDescription, heroBreadcrumb",
      "hide": "heroCTA, heroBackground, heroCTAS"
    },
    {
      "value": "Solution",
      "show": "heroTitle, heroBackground, heroBreadcrumb",
      "hide": "heroCTA, heroDescription, heroCTA, heroCTAS"
    },
    {
      "value": "Consumatori",
      "show": "heroTitle, heroCTAS",
      "hide": "heroCTA"
    }
  ],
  "default": "Secondary"
}]]></Config>
</DataType>