<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14fa07c5-93b2-4f0e-b9a6-e19d8c0d9bf9" Alias="Block Card Soluzioni - Contenuto Soluzioni - Multinode Treepicker (1)" Level="1">
  <Info>
    <Name>Block Card Soluzioni - Contenuto Soluzioni - Multinode Treepicker (1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "soluzione",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>