<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec915681-f89e-409c-a876-851332477394" Alias="Block Key Point Settings - No Background - Toggle" Level="1">
  <Info>
    <Name>Block Key Point Settings - No Background - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "No Background Off",
  "LabelOn": "No Background On",
  "ShowLabels": false
}]]></Config>
</DataType>