<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98142491-ceac-42f7-b1b5-c3b6d8baeae5" Alias="Block Card Highlight - Is Category Clickable - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Card Highlight - Is Category Clickable - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "categoryLinkLabel",
  "showIfUnchecked": "categoryLabel"
}]]></Config>
</DataType>