<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7234a4e1-b626-457c-b97d-5139ab729042" Alias="Block CTA Compact - Add Cta and Download - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block CTA Compact - Add Cta and Download - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "ctaStandard,ctaContact, download"
}]]></Config>
</DataType>