<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4542d7e3-f944-41ed-ad30-7047de5bd0fb" Alias="Block Internal Navigation - External Links - Block List" Level="1">
  <Info>
    <Name>Block Internal Navigation - External Links - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "caa7fd80-8da6-4ecf-bf50-ab489d58ea84",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>