<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4aceb271-4125-4229-acf9-b27d45e95c41" Alias="Block Ask Info Settings - Color Preset - Radio button list" Level="1">
  <Info>
    <Name>Block Ask Info Settings - Color Preset - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "white"
    },
    {
      "id": 2,
      "value": "blue"
    }
  ]
}]]></Config>
</DataType>