<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1171351-060b-4c73-8152-d68e28e97bd1" Alias="Block Paragraph - Add Cta and Download - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Block Paragraph - Add Cta and Download - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "ctas, downloads"
}]]></Config>
</DataType>