<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8aa9e27d-1b5d-4efc-9ca5-5c73e7b8b5db" Alias="Categoria Mercato - Mostra Sezione Automatica - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Categoria Mercato - Mostra Sezione Automatica - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloSezioneAutomatica"
}]]></Config>
</DataType>