<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f78504c-c6ce-4c0b-a42f-aa0a0c62a30e" Alias="Consumatori Prodotto - Mostra Altri Prodotti - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Consumatori Prodotto - Mostra Altri Prodotti - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloAltriProdotti, blocchiSuccessivi, backgroundGrigio"
}]]></Config>
</DataType>