<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8386df64-f2af-4f1b-825a-b686b651756f" Alias="Crif Configuration - Social Links - Nested Content" Level="1">
  <Info>
    <Name>Crif Configuration - Social Links - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "blockSocialLink",
      "ncTabAlias": "Social Link"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>