<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1040691e-6a60-4cb4-928c-f0261d5cd6e4" Alias="Image Gallery Settings - No Background - Toggle" Level="1">
  <Info>
    <Name>Image Gallery Settings - No Background - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Background Off",
  "LabelOn": "Background On",
  "ShowLabels": false
}]]></Config>
</DataType>