<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61bbb7db-1f74-44ee-8c28-3c7420a83b13" Alias="Industry - Uses Cases - Block List" Level="1">
  <Info>
    <Name>Industry - Uses Cases - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "74042156-f7a3-4fd8-b632-2865d21674c6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>