<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc7bcebb-decd-44b7-8ce5-66d67e336d1c" Alias="Internal Navigation - Internal Links - Block List" Level="1">
  <Info>
    <Name>Internal Navigation - Internal Links - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "923c5359-38a6-4c4c-a505-c91d08582e12",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>