<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9bc2df4-d437-45d0-8048-71e9f34cced0" Alias="Knowledge  Events - Content Type - Multinode Treepicker" Level="1">
  <Info>
    <Name>Knowledge  Events - Content Type - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "newsEvents",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>