<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0b28e28-55eb-4921-95f0-3bdf8b4bed48" Alias="Knowledge  Events - Filtered List - Multinode Treepicker" Level="1">
  <Info>
    <Name>Knowledge  Events - Filtered List - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "newsEvents",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>