<?xml version="1.0" encoding="utf-8"?>
<DataType Key="603bc790-6433-4b16-b726-f105b3fd436b" Alias="Knowledge  Events Single - Show Related Articles - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Knowledge  Events Single - Show Related Articles - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "relatedArticlesTitle"
}]]></Config>
</DataType>