<?xml version="1.0" encoding="utf-8"?>
<DataType Key="202c2a21-8d41-4824-a454-2c288cd00a94" Alias="Knowledge  Events Single - Single Knowledge Events Related Solutions - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Knowledge  Events Single - Single Knowledge Events Related Solutions - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "singleKnowledgeEventsRelatedSolutionsTitle"
}]]></Config>
</DataType>