<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7166cffa-a4e5-40c0-ad1c-6d04be1549a8" Alias="Knowledge  Events - Filtered List - Content Picker" Level="1">
  <Info>
    <Name>Knowledge  Events - Filtered List - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": null
}]]></Config>
</DataType>