<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46ff57b8-9c6a-42e0-8226-35dceb581ac8" Alias="Knowledge  Events - Card List - Multinode Treepicker" Level="1">
  <Info>
    <Name>Knowledge  Events - Card List - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "newsEvents,singleNewsEvents",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>