<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf466fd3-5a65-40eb-9986-1e450a46b840" Alias="Menu Settings - Display Countries - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Menu Settings - Display Countries - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "countryLinks, countryLabel",
  "showIfUnchecked": "countryLink"
}]]></Config>
</DataType>