<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78fd9327-ea69-4cbf-a847-79a9c56fb7a5" Alias="Menu Settings - Featured Cards - Block List" Level="1">
  <Info>
    <Name>Menu Settings - Featured Cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e6c427db-f1c2-4c00-a96e-f4efe9bb8695",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": 2,
    "min": null
  }
}]]></Config>
</DataType>