<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2029ab71-298b-4928-a893-4d42a2dc2cb3" Alias="Menu Settings - Custom Links - Nested Content" Level="1">
  <Info>
    <Name>Menu Settings - Custom Links - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "blockExternalLink",
      "ncTabAlias": "External Link"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>