<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71d0d4f7-1d4c-41ce-b862-ec62adb71720" Alias="Mercato - Tipologia Articoli - Multinode Treepicker" Level="1">
  <Info>
    <Name>Mercato - Tipologia Articoli - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "eventi,news,newsEdEventi,ricerche,ricercheAcademy,areaStampa,academy,storieDiSuccesso",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>