<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2db2c6db-beb8-452c-a67a-89d5400f597d" Alias="Mercato - Mostrare Ultimi Articoli - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Mercato - Mostrare Ultimi Articoli - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloUltimiArticoli, tipologiaArticoli, altriBlocchi"
}]]></Config>
</DataType>