<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d604c70-e1e8-4b1f-8947-4639303a0d4c" Alias="News ed Eventi - Mostrare Listing - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>News ed Eventi - Mostrare Listing - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloAggiornamenti,elementiPerPagina, altriBlocchi"
}]]></Config>
</DataType>