<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95c40a58-3acf-432f-a915-dc20b6793ce3" Alias="Ricerche e Academy Categoria - Mostrare Listing Risultati - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Ricerche e Academy Categoria - Mostrare Listing Risultati - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloListing,elementiPerPagina, primiBlocchi"
}]]></Config>
</DataType>