<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edf378bc-2f5f-4e35-9669-919fc7f6bea5" Alias="SEO - Add Special Children - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>SEO - Add Special Children - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "specialChild,specialChildLabel"
}]]></Config>
</DataType>