<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74688280-1727-4206-be03-98d7b264f630" Alias="SEO - Menu Position - Dropdown" Level="1">
  <Info>
    <Name>SEO - Menu Position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Display this page"
    },
    {
      "id": 2,
      "value": "Hide this page"
    },
    {
      "id": 3,
      "value": "Hide all page children"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>