<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4d31de0-aea6-4f6a-94b0-b2cdaaa2cd63" Alias="SEO - Special Child - Multinode Treepicker" Level="1">
  <Info>
    <Name>SEO - Special Child - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "category,family,mercato,servizi,soluzione,consumatoriCategoriaProdotti,consumatoriProdotto,contatto,contatti,blankPage,about,aboutSubpage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>