<?xml version="1.0" encoding="utf-8"?>
<DataType Key="73899de9-6f88-4f98-a41a-dbbe7d6a285f" Alias="Service - Show Related Articles - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Service - Show Related Articles - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "relatedArticlesTitle"
}]]></Config>
</DataType>