<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b608aacc-ac0e-4608-8ee0-06f1a3f3969d" Alias="Single Knowledge  Events - Single Knowledge Events Related Industries - Multinode Treepicker" Level="1">
  <Info>
    <Name>Single Knowledge  Events - Single Knowledge Events Related Industries - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "industry",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>