<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cfa02e62-0f6f-44a7-9c72-7afba5692394" Alias="Single Knowledge  Events - Single Knowledge Events Related Services - Multinode Treepicker" Level="1">
  <Info>
    <Name>Single Knowledge  Events - Single Knowledge Events Related Services - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "service,solutions,consumerService",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>