<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83cc7964-af2e-4698-ac84-6e96c213b183" Alias="Single Knowledge  Events - Single Knowledge Events Related Solutions - Multinode Treepicker" Level="1">
  <Info>
    <Name>Single Knowledge  Events - Single Knowledge Events Related Solutions - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "solutions",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>