<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61aa63b5-a8d8-4ec3-a61d-0c1499b90d2d" Alias="Single Knowledge  Events - Show Fixed Banner - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Single Knowledge  Events - Show Fixed Banner - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "bannerText, bannerCTA"
}]]></Config>
</DataType>