<?xml version="1.0" encoding="utf-8"?>
<DataType Key="518fa66e-f195-4740-bf97-221606f608f1" Alias="Storie Di Successo - Mostrare Listing - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Storie Di Successo - Mostrare Listing - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloSezioneListing,numeroCard, altriBlocchi"
}]]></Config>
</DataType>