<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a35619ef-6a7d-4560-8c6a-cba245103785" Alias="Textstring-card-text" Level="1">
  <Info>
    <Name>Textstring-card-text</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 80
}]]></Config>
</DataType>