<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3f76d43-06a6-4bda-9440-665b3540240b" Alias="Textstring-key-benefits-card-text" Level="1">
  <Info>
    <Name>Textstring-key-benefits-card-text</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 180
}]]></Config>
</DataType>