<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f52e835-c928-41c9-9cc0-317cbd31d71d" Alias="TextString - Hero Title Limited" Level="1">
  <Info>
    <Name>TextString - Hero Title Limited</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>