<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80f2e08a-e7c0-4c58-b8e6-edcc8fd4f2de" Alias="TextString - Hero Description Limited" Level="1">
  <Info>
    <Name>TextString - Hero Description Limited</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 200
}]]></Config>
</DataType>