<?xml version="1.0" encoding="utf-8"?>
<DataType Key="372746db-19f0-45db-aa16-5f3730c1dac5" Alias="Textarea-limited" Level="1">
  <Info>
    <Name>Textarea-limited</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 200,
  "Rows": 4
}]]></Config>
</DataType>