<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a57fd375-1008-429f-8901-ae094798ef53" Alias="Textstring-card-limited" Level="1">
  <Info>
    <Name>Textstring-card-limited</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 150
}]]></Config>
</DataType>