<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3848d51f-56c1-4669-be3b-0dbb85aae97d" Alias="Trend Topics - Mostrare Listing - Checkbox Conditional Displayer (1)" Level="1">
  <Info>
    <Name>Trend Topics - Mostrare Listing - Checkbox Conditional Displayer (1)</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloListing,elementiPerPagina, altriBlocchi"
}]]></Config>
</DataType>