<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b28055fa-fef8-43e1-9690-3103b78cec41" Alias="Trend Topic Tag - Mostrare Sezione Automatica - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Trend Topic Tag - Mostrare Sezione Automatica - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloSezioneAutomatica, ultimiBlocchi"
}]]></Config>
</DataType>