<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8334e06-538f-4819-b2d1-5e58a036c200" Alias="Trend Topics - Mostrare Listing - Checkbox Conditional Displayer" Level="1">
  <Info>
    <Name>Trend Topics - Mostrare Listing - Checkbox Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "titoloListing,elementiPerPagina,altriBlocchi"
}]]></Config>
</DataType>