<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86802373-6e57-497f-a57c-9b4917a5cf60" Alias="XmlSiteMap - Multinode Treepicker" Level="1">
  <Info>
    <Name>XmlSiteMap - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>