@using Crif.It.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Crif.It.Utils;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Industries>
@{
    Layout = "Master.cshtml";
	var singleIndustries = Model.Children()?.Where(x=> x.ContentType.Alias == "industry");
}
<section class="cards-block" data-section="industries">
	<div class="container-lg">
		@if (!string.IsNullOrEmpty(Model.IndustriesTitle))
		{
		<div class="row justify-content-center">
			<div class="col-7 col-lg-12">
				<h1 class="h2 text-center pb-lg-5 mb-lg-4">@Model.IndustriesTitle</h1>
			</div>
		</div>
		}
		<div class="row g-mega g-overflow">
            @if (singleIndustries != null && singleIndustries.Any())
		{
			foreach (Industry singleIndustry in singleIndustries)
			{
			@(	await Html.PartialAsync("CardIndustry", singleIndustry))
			}
		}
		</div>
	</div>
</section>

@Html.GetBlockListHtml(Model.Blocks)