<?xml version="1.0" encoding="utf-8"?>
<Macro Key="6fecc9d3-a125-43ca-9f7e-89ac3a5cf580" Alias="VideoPicker" Level="0">
  <Name>Video Picker</Name>
  <MacroSource>~/Views/MacroPartials/VideoPicker.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Video</Name>
      <Alias>video</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>