<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5b60d079-4ef6-4272-b4af-a1ff3a5ee989" Alias="label_select_ricerche_tags" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="it-IT">Filtra per</Translation>
  </Translations>
</Dictionary>