<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="484f2f67-a58d-4309-ad26-255cfb4ccf5c" Alias="select_tags_tutti_temi" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="it-IT">Tutti i temi</Translation>
  </Translations>
</Dictionary>