<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a5b5c06-3777-4691-95a2-918244d82093" Alias="areaStampa" Level="2">
  <Info>
    <Name>Area Stampa</Name>
    <Icon>icon-font color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+News%2cEventi%2cRicerche%2cAcademy%2cArea+Stampa</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>AreaStampa</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="45a762ec-7d36-468d-8b25-0d670c0978a9">AreaStampa</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="43c609dd-72ec-420b-ac99-3fce015839c7" SortOrder="0">articolo</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b94f4196-7167-492c-9c5d-48d5f1684e47</Key>
      <Name>Altri Blocchi</Name>
      <Alias>altriBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sezioneListing">Sezione Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b260a31b-cad4-4eb3-a268-716772904c4f</Key>
      <Name>Blocchi</Name>
      <Alias>blocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b8a24441-5116-45fe-bb17-c60dbd7cd8b8</Key>
      <Name>Descrizione Area Stampa</Name>
      <Alias>descrizioneAreaStampa</Alias>
      <Definition>80f2e08a-e7c0-4c58-b8e6-edcc8fd4f2de</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa25f3c1-faae-4d90-8c3c-29a5baf56477</Key>
      <Name>Elementi Per Pagina</Name>
      <Alias>elementiPerPagina</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inserire il numero di articoli che si vogliono mostrare per ogni pagina di listing, di default il valore è 15]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sezioneListing">Sezione Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28653c3a-ad69-4da8-93c3-553fb9c4e20a</Key>
      <Name>Mostrare Listing</Name>
      <Alias>mostrareListing</Alias>
      <Definition>8cd2c57f-2b12-489c-a042-0d0c8cc59d39</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sezioneListing">Sezione Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c30a3f3-7042-45b4-8e5b-3bc3496ef335</Key>
      <Name>Titolo Area Stampa</Name>
      <Alias>titoloAreaStampa</Alias>
      <Definition>8f52e835-c928-41c9-9cc0-317cbd31d71d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f6dd71a-94cc-4f68-832b-e4dcedd5d6d5</Key>
      <Name>Titolo Listing</Name>
      <Alias>titoloListing</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sezioneListing">Sezione Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>37abf545-912e-4fbf-85bb-da17f8f498fc</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a96f5f60-9977-42f1-8b89-1bec5a6ebaf2</Key>
      <Caption>Blocchi</Caption>
      <Alias>blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d9cdcbf4-51e7-4187-8142-5f0256cc0e3d</Key>
      <Caption>Sezione Listing</Caption>
      <Alias>sezioneListing</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>