<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43c609dd-72ec-420b-ac99-3fce015839c7" Alias="articolo" Level="2">
  <Info>
    <Name>Articolo</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+News%2cEventi%2cRicerche%2cAcademy%2cArea+Stampa</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Articolo</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c503d0c9-ec41-4795-bc72-c23d3742ea36">Articolo</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a050a617-2278-4677-a0ab-9d18d0864664</Key>
      <Name>Altri Blocchi</Name>
      <Alias>altriBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questi blocchi verranno mostrati dopo la sezione automatica]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contenutiRelativi">Contenuti Relativi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24c9efec-4c98-4d60-b293-a2a94b40c273</Key>
      <Name>Blocchi</Name>
      <Alias>blocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>80d959b2-b0ff-4a82-8fb5-84f1d61231d5</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="importFields">Import Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4a0e2e8-b6a3-4ed8-ad9c-dace3ac68c17</Key>
      <Name>Data Custom</Name>
      <Alias>dataCustom</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1152b117-d47e-41f3-b656-5091836a6832</Key>
      <Name>Date And Location</Name>
      <Alias>dateAndLocation</Alias>
      <Definition>2b48dc7c-2477-410d-b478-2352d8bfa6fe</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="importFields">Import Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a393035b-69c1-47f0-8107-48edc05b6a59</Key>
      <Name>Markets</Name>
      <Alias>markets</Alias>
      <Definition>95173194-acae-4850-bee7-a53404226ade</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This field is used for the articles in News and Research]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="importFields">Import Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4059ddaa-8150-41a4-adef-4709fb92c1d1</Key>
      <Name>Mercati Di Riferimento</Name>
      <Alias>mercatiDiRiferimento</Alias>
      <Definition>1aed7a09-d300-474e-9c0c-0a3654420907</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questo campo va popolato unicamente per i tracciamenti, non ha alcun effetto al frontend. Qui vanno inseriti tutti i mercati che si vogliono legare al corrente contenuto]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="riferimenti">Riferimenti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3fc34677-8369-4e4f-949c-c3cc1bdd87df</Key>
      <Name>Mostra Altri Contenuti</Name>
      <Alias>mostraAltriContenuti</Alias>
      <Definition>0fae30c8-38e0-40c3-975b-9c81182a10e5</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contenutiRelativi">Contenuti Relativi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2559e4a6-5b8e-4d2f-81a2-eb0b2df63e80</Key>
      <Name>Sfondo Hero</Name>
      <Alias>sfondoHero</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>92eaac49-fef7-4b72-8dc1-9f24afce0c92</Key>
      <Name>Temi Ricerche</Name>
      <Alias>temiRicerche</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="riferimenti">Riferimenti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3ec3d81-15f9-4e61-b15b-b5110564818d</Key>
      <Name>Testo Iniziale</Name>
      <Alias>testoIniziale</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questa componente di testo viene visualizzata come primo elemento dell'articolo, sotto la hero, con la formattazione del font preimpostata]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="testoIniziale">Testo Iniziale</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>79ffbf56-b1ca-4c2f-94a5-c80b373e1634</Key>
      <Name>Titolo Altri Contenuti</Name>
      <Alias>titoloAltriContenuti</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contenutiRelativi">Contenuti Relativi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>79bde5b2-f07e-4ffd-836e-476de3319cf5</Key>
      <Name>Titolo Hero</Name>
      <Alias>titoloHero</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>248edce1-9422-4646-8107-f79f2355241d</Key>
      <Name>Topics</Name>
      <Alias>topics</Alias>
      <Definition>80ae2ef0-4f07-43fe-a152-71ea876da22d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This field is used for the articles in News and Research]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="importFields">Import Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>77904556-41c8-4d0d-86df-b1c5b8ce4011</Key>
      <Name>Trend Topic</Name>
      <Alias>trendTopic</Alias>
      <Definition>03d16fe0-7f67-451b-8902-486e5fb86bdb</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="riferimenti">Riferimenti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0eb019a5-639b-41b7-974d-47cdb6581568</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>23ad93db-1874-420b-a191-7617bf4536f8</Key>
      <Caption>Contenuti Relativi</Caption>
      <Alias>contenutiRelativi</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>75d18ab8-2bd6-4cde-b738-a6501d9dd12b</Key>
      <Caption>Testo Iniziale</Caption>
      <Alias>testoIniziale</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>87aa6992-6f58-4add-b270-6cd79961d16d</Key>
      <Caption>Import Fields</Caption>
      <Alias>importFields</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>8ecb7ace-4add-490b-8c49-692873bde477</Key>
      <Caption>Riferimenti</Caption>
      <Alias>riferimenti</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c25a907f-431f-485f-a1d4-e1157dd189bf</Key>
      <Caption>Blocchi</Caption>
      <Alias>blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>