<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="736d3e90-8f71-41aa-8b59-1e9f1604ca83" Alias="articoloStorieDiSuccesso" Level="2">
  <Info>
    <Name>Articolo Storie Di Successo</Name>
    <Icon>icon-award color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Business</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>ArticoloStorieDiSuccesso</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bc66f2c9-0c54-496d-810b-b9b5eef19df1">ArticoloStorieDiSuccesso</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b85e183e-c6af-44c1-b92f-b8304d2ec7f8</Key>
      <Name>Altri Blocchi</Name>
      <Alias>altriBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questi blocchi verranno mostrati dopo la sezione automatica]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contenutiRelativi">Contenuti Relativi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>785c1a59-9f97-4a75-a974-8e47e69c3a84</Key>
      <Name>Blocchi Articolo</Name>
      <Alias>blocchiArticolo</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8596bce1-15c1-4ab2-98ce-f8cf25caa03c</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="importFields">Import Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a009a5a9-08ba-49cc-bdf2-0cc7e93f410b</Key>
      <Name>Client Name</Name>
      <Alias>clientName</Alias>
      <Definition>22d3c837-a18b-4a2f-be21-586bd2cdcabe</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="importFields">Import Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47b5df1f-2342-4f2e-9f6e-ad1d26893869</Key>
      <Name>Data Custom</Name>
      <Alias>dataCustom</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>163d2fc1-1027-4b59-b93f-c29f9b5a5a37</Key>
      <Name>Date And Location</Name>
      <Alias>dateAndLocation</Alias>
      <Definition>5754624d-ddfd-44a3-a614-81306f5e40cc</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="importFields">Import Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b13bd4f8-9919-41fc-8e1f-a0ce9db31e53</Key>
      <Name>Markets</Name>
      <Alias>markets</Alias>
      <Definition>0bd78890-d935-4630-9332-4238ad681d2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="importFields">Import Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e935631-5abc-4c10-9d25-cca9e2fe251b</Key>
      <Name>Mercati Di Riferimento</Name>
      <Alias>mercatiDiRiferimento</Alias>
      <Definition>1aed7a09-d300-474e-9c0c-0a3654420907</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questo campo va popolato unicamente per i tracciamenti, non ha alcun effetto al frontend. Qui vanno inseriti tutti i mercati che si vogliono legare al corrente contenuto]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="riferimenti">Riferimenti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a34a24c9-621d-4b98-a900-1e7edccf8cd6</Key>
      <Name>Mostrare Altri Contenuti</Name>
      <Alias>mostrareAltriContenuti</Alias>
      <Definition>0fae30c8-38e0-40c3-975b-9c81182a10e5</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contenutiRelativi">Contenuti Relativi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a47f595a-f0cc-45da-b7d5-df57c7a5381e</Key>
      <Name>Product Tag</Name>
      <Alias>productTag</Alias>
      <Definition>512facf8-9be5-4fa3-bdea-718b7470030a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="importFields">Import Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2c666da6-5325-4738-a155-a67e8ce246ed</Key>
      <Name>Sfondo Hero</Name>
      <Alias>sfondoHero</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>48110407-41f1-44e1-9ca0-2b30dfcd04f1</Key>
      <Name>Testo Iniziale</Name>
      <Alias>testoIniziale</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questa componente di testo viene visualizzata come primo elemento dell'articolo, sotto la hero, con la formattazione del font preimpostata]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="testoIniziale">Testo Iniziale</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5593b1f-fdad-4a6c-ab87-b79e0ed47ad7</Key>
      <Name>Titolo Altri Contenuti</Name>
      <Alias>titoloAltriContenuti</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contenutiRelativi">Contenuti Relativi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f99b1365-73fb-4490-bb59-5ca022a19bed</Key>
      <Name>Titolo Articolo</Name>
      <Alias>titoloArticolo</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ad106f0-e1ba-4f75-874b-ac2a51329b1f</Key>
      <Name>Topics</Name>
      <Alias>topics</Alias>
      <Definition>bdc8aaad-79db-4239-9896-bd176708b449</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="importFields">Import Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8180f632-be99-4306-9273-2f9738ebe19b</Key>
      <Name>Trend Topics</Name>
      <Alias>trendTopics</Alias>
      <Definition>ea728c51-5a54-4982-830a-f7a8c3565381</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Selezionare il tag trend topic a cui questo articolo fa rimerimento]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="riferimenti">Riferimenti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1802493a-f9a0-4600-9060-87fa63293467</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>2e7ec36f-fa39-411d-8e78-693fc15d64cc</Key>
      <Caption>Contenuti Relativi</Caption>
      <Alias>contenutiRelativi</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>7b530a5f-2e3d-4653-9f0b-839bc08b9897</Key>
      <Caption>Import Fields</Caption>
      <Alias>importFields</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>d7b90ed1-18d0-425a-a85e-5104c10d4245</Key>
      <Caption>Blocchi</Caption>
      <Alias>blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>e12794a6-3354-4e98-8039-670941533a79</Key>
      <Caption>Testo Iniziale</Caption>
      <Alias>testoIniziale</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>ee84a821-855e-4e83-b898-7df5d19f7a5e</Key>
      <Caption>Riferimenti</Caption>
      <Alias>riferimenti</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>