<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9720ba2b-a1e9-4ccc-b6b1-0c1fbfdb9cb7" Alias="blankPage" Level="1">
  <Info>
    <Name>Blank Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>BlankPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6dd77afe-8818-40d3-9c16-1c351fb2e194">BlankPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9720ba2b-a1e9-4ccc-b6b1-0c1fbfdb9cb7" SortOrder="0">blankPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2056f0f9-a8e2-4eb5-9764-6201048fc7c1</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blankPage">Blank Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6474d79a-514a-461d-b783-f741be8752c8</Key>
      <Caption>Blank Page</Caption>
      <Alias>blankPage</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>