<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aae41aeb-12cf-41b9-87c6-0d29e39953f7" Alias="blockInternalNavigation" Level="2">
  <Info>
    <Name>Block Internal Navigation</Name>
    <Icon>icon-anchor color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9b8d3682-8217-417a-a63a-426ddeaf4d11</Key>
      <Name>CTA Button</Name>
      <Alias>cTAButton</Alias>
      <Definition>c26645d9-8b1c-42d7-acb9-3ab375f82b86</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ctaButton">Cta Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>78bd1ef6-9cd6-41db-82b1-753981175fff</Key>
      <Name>External Links</Name>
      <Alias>externalLinks</Alias>
      <Definition>4542d7e3-f944-41ed-ad30-7047de5bd0fb</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="externalLinks">External Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29f91214-cb73-48fd-9262-d4d90b4a3837</Key>
      <Name>Internal Links</Name>
      <Alias>internalLinks</Alias>
      <Definition>dc7bcebb-decd-44b7-8ce5-66d67e336d1c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="internalLinks">Internal Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0cc42d89-a31f-47d8-9477-fe51b35c0244</Key>
      <Caption>External Links</Caption>
      <Alias>externalLinks</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>bd2d15bd-af2b-46fa-91cc-12c2df391a65</Key>
      <Caption>Cta Button</Caption>
      <Alias>ctaButton</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>dbe3b647-d3f7-4b05-bdab-1d117b18b948</Key>
      <Caption>Internal Links</Caption>
      <Alias>internalLinks</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>