<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9fb2240-4844-4ed3-9f96-9e361c573646" Alias="blockListCardLargeImageSettings" Level="2">
  <Info>
    <Name>Block List Card Large Image Settings</Name>
    <Icon>icon-window-sizes color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c6d05817-84b1-4e18-94fb-407cbd84a1aa</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Insert here the id for the block to be used in the Internal Navigation Block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="anchorID">Anchor ID</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2c8f8c4-c227-4ef3-9921-499550809841</Key>
      <Name>Grey Background</Name>
      <Alias>greyBackground</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to display the block on a grey background. It will introduce an extra padding top]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="background">Background</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3ca19ba6-80ae-4168-8a6f-b66686a0bdad</Key>
      <Caption>Anchor ID</Caption>
      <Alias>anchorID</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>85edb31b-8a0e-4fd6-80fd-92ed88c21907</Key>
      <Caption>Background</Caption>
      <Alias>background</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>