<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46936001-5553-47a1-90fc-8e399a3c5648" Alias="blockProdottiDueColonne" Level="2">
  <Info>
    <Name>Block Prodotti Due Colonne</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e762c7c0-e884-40a9-ae3f-e4c021c8e830</Key>
      <Name>Contenuto Colonne</Name>
      <Alias>contenutoColonne</Alias>
      <Definition>b3050d13-68b2-4dc4-a38c-f93f8bb9a821</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchiDiTesto">Blocchi di testo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c83faf28-bcb5-4d7a-8002-cf771ff57745</Key>
      <Caption>Blocchi di testo</Caption>
      <Alias>blocchiDiTesto</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>