<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9609732c-5211-493e-92fe-4e657cdae794" Alias="blockBackgroundBox" Level="2">
  <Info>
    <Name>Block Background Box</Name>
    <Icon>icon-paint-roller color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="4a55283b-60d4-446d-8cc2-459455d74781">blockCounterList</Composition>
      <Composition Key="b85bb0b0-f2d9-4349-8d9a-686c23c32c60">blockTextAndLink</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a0baba0b-5b28-4abb-9b04-deebcf44d427</Key>
      <Name>Background</Name>
      <Alias>background</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Insert an image that will be displayed on 100% of the background. If this field is empty, the default background is the map image with default spacing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="background">Background</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da70bdec-3c22-4d50-a8e0-599f85ed425d</Key>
      <Name>Country List</Name>
      <Alias>countryList</Alias>
      <Definition>1ff8b0d1-4e56-4781-80ef-fced5666df07</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="displayCountries">Display Countries</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8ad0f10-c853-42ec-ab9d-74270b8816dd</Key>
      <Name>Country List Layout</Name>
      <Alias>countryListLayout</Alias>
      <Definition>8810b72f-2198-4780-b509-7457fc2a7db9</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to display a list of country instead of the classic layout]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="displayCountries">Display Countries</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c9e122b3-0aae-4dd1-8b5c-1e25def9b933</Key>
      <Name>Display Counter Cards</Name>
      <Alias>displayCounterCards</Alias>
      <Definition>3f93f5a0-0112-41d7-8d6d-c622d40a77ac</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="counterCard">Counter Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d11a6cf7-497d-46c6-a4b3-1850105326c1</Key>
      <Name>Display Partner List</Name>
      <Alias>displayPartnerList</Alias>
      <Definition>1e2a0095-861b-4cfb-bfc8-b356fa9fe4f5</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="parterLogoList">Parter Logo List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb2863e4-766c-4da1-bd58-5e9e2786aea9</Key>
      <Name>Partner List Title</Name>
      <Alias>partnerListTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="parterLogoList">Parter Logo List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73e40717-9880-496a-b0da-17ee4e2fcb90</Key>
      <Name>Partner Logo List</Name>
      <Alias>partnerLogoList</Alias>
      <Definition>ea2ec1cf-ee1b-4d45-84e4-6a9308ca6be3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="parterLogoList">Parter Logo List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>39aadab3-19d3-49c9-a898-82cccbb3df4f</Key>
      <Caption>Counter Card</Caption>
      <Alias>counterCard</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>56cc185c-3bc0-4f35-bb31-a691da517b42</Key>
      <Caption>Parter Logo List</Caption>
      <Alias>parterLogoList</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>ab3c191a-7ac4-448d-b07e-93fcadd4f1b7</Key>
      <Caption>Display Countries</Caption>
      <Alias>displayCountries</Alias>
      <Type>Group</Type>
      <SortOrder>-5</SortOrder>
    </Tab>
    <Tab>
      <Key>dd284cba-3371-428b-8598-d12fe507c545</Key>
      <Caption>Background</Caption>
      <Alias>background</Alias>
      <Type>Group</Type>
      <SortOrder>-6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>