<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="618e73fd-97e4-4773-894f-722197a8b649" Alias="blockContatto" Level="2">
  <Info>
    <Name>Block Contatto</Name>
    <Icon>icon-phone-ring color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>afcdc1db-99ae-4969-b840-c4cfa4c3c150</Key>
      <Name>Card Contatto</Name>
      <Alias>cardContatto</Alias>
      <Definition>a5d63c8e-c81d-4a86-8cd7-04230823cc3c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="campiBloccoSuperiori">Campi Blocco Superiori</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0caff07e-9663-4ca0-a9c6-1625be499f07</Key>
      <Name>Cta Contatto</Name>
      <Alias>ctaContatto</Alias>
      <Definition>c26645d9-8b1c-42d7-acb9-3ab375f82b86</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="campiBloccoInferiori">Campi Blocco Inferiori</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5eac074c-9372-428d-8c4d-c5afabd4b43d</Key>
      <Name>Descrizione Contatto</Name>
      <Alias>descrizioneContatto</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="campiBloccoInferiori">Campi Blocco Inferiori</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c919803b-abc8-47d0-b47d-db7997f45d64</Key>
      <Name>Immagine Contatto</Name>
      <Alias>immagineContatto</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="campiBloccoSuperiori">Campi Blocco Superiori</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bee50f18-30e0-41a3-9e7e-0bff0d0910d3</Key>
      <Name>Informazioni Contatto</Name>
      <Alias>informazioniContatto</Alias>
      <Definition>2e6a5b1b-56bd-45ff-9311-cdb011b38942</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="campiBloccoInferiori">Campi Blocco Inferiori</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d68c2871-1f2a-4b29-b26e-629201e33b82</Key>
      <Name>Titolo Contatto</Name>
      <Alias>titoloContatto</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="campiBloccoSuperiori">Campi Blocco Superiori</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65ea6bfa-eafc-45a9-827e-92a45e0e7638</Key>
      <Name>Usare Informazioni?</Name>
      <Alias>usareInformazioni</Alias>
      <Definition>3edbb4b5-b275-43ec-8321-9dcb949b16c1</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flaggare per aggiungere le informazioni incolonnate del corrente contatto]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="campiBloccoInferiori">Campi Blocco Inferiori</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5e094b30-14df-4477-bc30-53f9869fd870</Key>
      <Caption>Campi Blocco Superiori</Caption>
      <Alias>campiBloccoSuperiori</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fc7e7614-a7e2-4726-981f-df4a181910d3</Key>
      <Caption>Campi Blocco Inferiori</Caption>
      <Alias>campiBloccoInferiori</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>