<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae813320-46d0-46dc-8cd0-71cf65c8da74" Alias="blockAskInfoSettings" Level="2">
  <Info>
    <Name>Block Ask Info Settings</Name>
    <Icon>icon-out color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6b5bbc91-db51-43cd-8306-5badc227f8db</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Populate this field to set an ID to the block and use it in the Block Internal Navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="idSettings">ID Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ad6bee16-e86c-4b09-b22a-fe721ec7f1af</Key>
      <Name>Call To Action Layout</Name>
      <Alias>callToActionLayout</Alias>
      <Definition>64acee3b-f97b-4474-9693-6691133cb1c2</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f588c1ce-238b-4af3-9b75-ed886cbc4ceb</Key>
      <Name>Layout Selector</Name>
      <Alias>layoutSelector</Alias>
      <Definition>3fc38228-5e4f-4349-bfb0-69409725f9e6</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2634177-e388-4c07-9fd5-06e97063b69b</Key>
      <Name>No Padding Bottom</Name>
      <Alias>noPaddingBottom</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to delete the bottom spacing of the Ask Info block]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="spacingSettings">Spacing Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3dbc017c-661f-47e2-85af-7e7f7b2a5120</Key>
      <Name>No Padding Top</Name>
      <Alias>noPaddingTop</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to delete the top spacing of the Ask Info block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="spacingSettings">Spacing Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>23013a78-9d25-458e-8e1b-38b5af005294</Key>
      <Caption>ID Settings</Caption>
      <Alias>idSettings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b69d7914-a1af-433e-bdd7-ad8cfc27d959</Key>
      <Caption>Spacing Settings</Caption>
      <Alias>spacingSettings</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>cd1d11c4-bae0-4940-85de-bb4e7aa057b1</Key>
      <Caption>Options</Caption>
      <Alias>options</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>