<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1705c90-c8bd-4a11-bc9b-b00188e11725" Alias="blockAccordionSettings" Level="2">
  <Info>
    <Name>Block Accordion Settings</Name>
    <Icon>icon-bulleted-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5a8c7797-20cf-4c06-a940-20ed3bc50cab</Key>
      <Name>Accordion ID</Name>
      <Alias>accordionID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If multiple accordion are insered into the same page, enter here an accordion id (number, string..) to let a correct operation of opening/closing of accordion item]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="multipleAccordion">Multiple Accordion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1bcafb2f-2680-4e16-bf38-fc9349a04af8</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="idSettings">ID Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>706dc940-974d-492c-af42-99ee70d87890</Key>
      <Name>First Open</Name>
      <Alias>firstOpen</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to display the first question expanded]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6336b549-d235-4ff7-824e-b56175cf591b</Key>
      <Name>Is Fullwidth</Name>
      <Alias>isFullwidth</Alias>
      <Definition>42fe324c-b54e-48ad-8f45-f45180698cac</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>73da0227-5259-4679-a6b1-1d94678c9621</Key>
      <Caption>Options</Caption>
      <Alias>options</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>79c24a5f-d07a-4378-857e-b86366913aa2</Key>
      <Caption>ID Settings</Caption>
      <Alias>idSettings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b42155d4-28a5-48de-aecd-35d3befa3d46</Key>
      <Caption>Multiple Accordion</Caption>
      <Alias>multipleAccordion</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>