<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2f83ff5-99ea-4ece-8feb-7795cab21a8b" Alias="blockSingleTableEntry" Level="2">
  <Info>
    <Name>Block Single Table Entry</Name>
    <Icon>icon-console color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Atom+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>258cd2a7-c6b9-43d2-acbb-ef4606cf1c53</Key>
      <Name>Is Icon Field</Name>
      <Alias>isIconField</Alias>
      <Definition>2ea4912f-40c0-4278-b389-85295aa9ba05</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to insert the icon. NOTE: if Single Icon is populated, the Text Content field will be ignored]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="icons">Icons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2abdc7e1-f712-4e34-a500-0aed984ef607</Key>
      <Name>Single Icon</Name>
      <Alias>singleIcon</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="icons">Icons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6c56350f-57e1-4185-a870-e434ec434350</Key>
      <Name>Text Content</Name>
      <Alias>textContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="rtE">RTE</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8e4b6a64-43cb-4f40-83b5-8821943746bc</Key>
      <Caption>RTE</Caption>
      <Alias>rtE</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>ada072bc-fc49-4d11-af01-eac25227ccb0</Key>
      <Caption>Icons</Caption>
      <Alias>icons</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>