<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="847b8605-dbdd-448e-9697-67e0dd5f21b1" Alias="blockTableSettings" Level="2">
  <Info>
    <Name>Block Table Settings</Name>
    <Icon>icon-grid color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dce3bb31-7e45-4ad8-b817-1b5ea5699dba</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="anchorID">Anchor ID</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ca46526-58fb-486e-b66a-76e6c5e34138</Key>
      <Name>Grey Background</Name>
      <Alias>greyBackground</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to display the block on a grey background]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="backgound">Backgound</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>046dd75e-79f2-4b52-8268-9a8853f381ed</Key>
      <Name>Hide Rows Label</Name>
      <Alias>hideRowsLabel</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hideRowsLabel">Hide Rows Label</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>69d6d67e-60cb-4edd-b74c-e0c525d48c2c</Key>
      <Caption>Anchor ID</Caption>
      <Alias>anchorID</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8e24802e-be18-4788-b449-d3bd1c20e94a</Key>
      <Caption>Hide Rows Label</Caption>
      <Alias>hideRowsLabel</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>bc243092-cab9-464f-9dc8-d4bed162c728</Key>
      <Caption>Backgound</Caption>
      <Alias>backgound</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>