<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e859e050-5d32-4eb6-989a-a60fb11b9a04" Alias="blockRecensioniClientiConLoghi" Level="2">
  <Info>
    <Name>Block Recensioni Clienti Con Loghi</Name>
    <Icon>icon-art-easel color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6f0e005c-3a5c-4bfc-837c-93289de6e043</Key>
      <Name>Recensioni Clienti</Name>
      <Alias>recensioniClienti</Alias>
      <Definition>b0348b29-387f-408d-8320-f746ccbc72af</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cards">Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>628429f4-61c8-44d3-9975-96e9a48907fa</Key>
      <Name>Titolo Recensioni</Name>
      <Alias>titoloRecensioni</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="titoloBlocco">Titolo Blocco</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3e1f21f5-1fc9-42bb-b0bc-ada70c5909ee</Key>
      <Caption>Titolo Blocco</Caption>
      <Alias>titoloBlocco</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dff1e509-4b38-47f9-8923-e3a5c0797ff0</Key>
      <Caption>Cards</Caption>
      <Alias>cards</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>