<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="55c54a33-deb5-4cc0-9786-b75f2ed6114d" Alias="blockHighlightsSettings" Level="2">
  <Info>
    <Name>Block Highlights Settings</Name>
    <Icon>icon-rate color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b9b1b2a6-897e-4e7b-a202-01a08a9fad4c</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Populate this field to set an ID to the block and use it in the Block Internal Navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="idSettings">ID Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e31a8f53-222e-41a3-8b6b-1cb3db4e2941</Key>
      <Name>AutoPlay</Name>
      <Alias>autoPlay</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="autoPlay">AutoPlay</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a3142a2-061b-43d1-b5f7-ef3ab9dc542b</Key>
      <Name>Contenuti Highlight</Name>
      <Alias>contenutiHighlight</Alias>
      <Definition>2111e1f9-f5fa-4e85-8b9f-daf1aa7ce4ad</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>868eee47-e40a-4998-85e4-e32f9a2e2f96</Key>
      <Name>Label Categoria</Name>
      <Alias>labelCategoria</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Di default, label sopra il titolo del contenuto è dato dalla categoria del contenuto. Se tale campo viene popolato, la label viene sovrascritta ( ma non è cliccabile) su tutte le card.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ceb46903-a558-4df2-b316-9fe41d5e8fbc</Key>
      <Name>Popolare Card Con Contenuti</Name>
      <Alias>popolareCardConContenuti</Alias>
      <Definition>1f185460-d335-4aa2-8afe-0b1aff247c64</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24ce312c-8a8d-45c9-8c5a-6e4d6bc0f808</Key>
      <Name>White Background</Name>
      <Alias>whiteBackground</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to display the block without grey background]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>113381ed-6321-4dee-ab94-686a5a5714c3</Key>
      <Caption>AutoPlay</Caption>
      <Alias>autoPlay</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>804541a8-8868-47b6-9bc4-0fcda2d0a198</Key>
      <Caption>Options</Caption>
      <Alias>options</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>df4237b1-67c7-46ea-b1bd-fcc574c2795e</Key>
      <Caption>ID Settings</Caption>
      <Alias>idSettings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>