<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="05006b49-0a71-4999-b5d1-ad986554d87b" Alias="blockContattoSettings" Level="2">
  <Info>
    <Name>Block Contatto Settings</Name>
    <Icon>icon-phone-ring color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d66d7bfc-a870-4745-be38-65053c54cdfb</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ancoraggio">Ancoraggio</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>62daf449-f802-4a01-b529-d0ba750ee482</Key>
      <Name>Layout Contatto</Name>
      <Alias>layoutContatto</Alias>
      <Definition>8c4dc062-c78e-4126-bc35-344ba60af8f2</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>75611414-336b-43b3-b79d-bef32f93cdf9</Key>
      <Caption>Ancoraggio</Caption>
      <Alias>ancoraggio</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>ac838860-c0cf-4e75-bb8a-539532a1e752</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>