<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29b08a82-2134-469e-9060-603d89cdcce2" Alias="blockListCardsSettings" Level="2">
  <Info>
    <Name>Block List Cards Settings</Name>
    <Icon>icon-playing-cards color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f0232a61-0d36-4f2b-b15d-37a6f387e253</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Populate this field to set an ID to the block and use it in the Block Internal Navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="idSettings">ID Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b1ae9b41-f0a6-4f8f-ab60-41ca07c5c477</Key>
      <Name>Is Carousel</Name>
      <Alias>isCarousel</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show this block as a carousel]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a807ce49-0f03-44ea-8707-2d2585997d0e</Key>
      <Name>Mostrare Trend Topic</Name>
      <Alias>mostrareTrendTopic</Alias>
      <Definition>a9a808e8-d8e5-480c-808a-cc0507db6a54</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flaggare questo campo per popolare dinamicamente le card selezionando i trend topic di interesse]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e104d94-ff73-45a8-867c-da46020cb3f5</Key>
      <Name>Seleziona Trend Topic</Name>
      <Alias>selezionaTrendTopic</Alias>
      <Definition>571b08c2-4723-4bba-a41b-7221e629ca79</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>434c3ef0-b58e-4594-b614-96af8a650903</Key>
      <Caption>ID Settings</Caption>
      <Alias>idSettings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>ba0af16f-c232-4d85-8fc7-ba5ee01ef2d8</Key>
      <Caption>Options</Caption>
      <Alias>options</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>