<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7ede125e-2957-4a19-92fa-021f64d93a24" Alias="blockParagraphSettings" Level="2">
  <Info>
    <Name>Block Paragraph Settings</Name>
    <Icon>icon-edit color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>961172c0-f92b-4999-909a-f824feb7768a</Key>
      <Name>Align Start</Name>
      <Alias>alignStart</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to align all the paragraph content to the left]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="alignmentSettings">Alignment Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8cef24d4-2b8f-492e-8ea5-fabb960df4f5</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Populate this field to set an ID to the block and use it in the Block Internal Navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="generalSettings">General Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>342cd694-1fa2-4a43-b963-7510014c232c</Key>
      <Name>Aside Title</Name>
      <Alias>asideTitle</Alias>
      <Definition>a57fd375-1008-429f-8901-ae094798ef53</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>219b5c6a-1a2f-4889-aac6-37e08842691b</Key>
      <Name>Has Aside</Name>
      <Alias>hasAside</Alias>
      <Definition>c8e7992c-a14b-4660-9a55-3f9b00b13f22</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a07b37f5-a406-4929-bd8c-c05e7b798bc3</Key>
      <Name>Has Grey Background</Name>
      <Alias>hasGreyBackground</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="backgroundSettings">Background Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73428abb-4ae0-4f46-957c-eae286d3a712</Key>
      <Name>No Padding Bottom</Name>
      <Alias>noPaddingBottom</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to delete the bottom spacing of the paragraph block]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="spacingSettings">Spacing Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42dee122-e0d4-4243-bacc-42a0c256b9b1</Key>
      <Name>No Padding Top</Name>
      <Alias>noPaddingTop</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to delete the top spacing of the paragraph block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="spacingSettings">Spacing Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7295f3fe-f919-4c3c-8458-1ca9f896d795</Key>
      <Name>Select Content</Name>
      <Alias>selectContent</Alias>
      <Definition>b077a329-9651-4843-9919-66904d9772b2</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Seleziona il tipo di contenuto che si vuole mostrare nell'aside]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2b0a80c9-672e-4e8d-8100-be775c458d64</Key>
      <Caption>Background Settings</Caption>
      <Alias>backgroundSettings</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>4b04d267-08c8-46e0-83f3-23af75f82e2e</Key>
      <Caption>General Settings</Caption>
      <Alias>generalSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5c8d312e-fbe8-41c6-a403-6892132127d5</Key>
      <Caption>Aside</Caption>
      <Alias>aside</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>7d980ff5-5e5d-4877-a53e-06ac5e3891cb</Key>
      <Caption>Spacing Settings</Caption>
      <Alias>spacingSettings</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>d3a9ee7e-2d6d-4811-af17-cb79ffbbb0c3</Key>
      <Caption>Alignment Settings</Caption>
      <Alias>alignmentSettings</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>