<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43ecf7f6-727d-4e86-920d-6b026849adac" Alias="blockListCardIconaTitoloDescrizioneSettings" Level="2">
  <Info>
    <Name>Block List Card Icona Titolo Descrizione Settings</Name>
    <Icon>icon-disc color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7cc5e10e-6baa-4dfc-b1ab-02427a430a74</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inserire l'ID che si vuole assegnare al componente, da poter sfruttare tramite il blocco di ancoraggio interno]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="anchor">Anchor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>61b222b1-2b95-4087-ba2a-5d3b98aaae3b</Key>
      <Name>Background Grigio</Name>
      <Alias>backgroundGrigio</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flaggare per mostrare le card su uno sfondo grigio]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="background">Background</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>14e05741-062b-42d1-8512-c1fdf232d058</Key>
      <Name>Card Cliccabile</Name>
      <Alias>cardCliccabile</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flaggare per rendere tutta la card cliccabile, non sarà più visibile la label e l'icona della cta]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caratteristicheCard">Caratteristiche Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0812e60b-2959-4f29-9636-df6a807fafec</Key>
      <Caption>Background</Caption>
      <Alias>background</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a93bd6c6-46e2-4cf1-a1ac-ee5e4655f64e</Key>
      <Caption>Caratteristiche Card</Caption>
      <Alias>caratteristicheCard</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d3339bce-5b39-4bef-b32f-b59c39b98790</Key>
      <Caption>Anchor</Caption>
      <Alias>anchor</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>