<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="34eb2a51-c417-489c-be04-6fa09c569f9c" Alias="blockListCards" Level="2">
  <Info>
    <Name>Block List Cards</Name>
    <Icon>icon-playing-cards color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2d076430-02ce-43f6-a5c0-26f266820b3d</Key>
      <Name>Card List</Name>
      <Alias>cardList</Alias>
      <Definition>98fab89d-363b-4c2c-9450-691bcf0745b8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="listCards">List Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09e2e281-23af-4c4e-8b4d-361dd21a0873</Key>
      <Name>Subtitle Section</Name>
      <Alias>subtitleSection</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sectionTitle">Section Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c27a50a-322b-4b0f-83f0-36d97c45fb19</Key>
      <Name>Title Section</Name>
      <Alias>titleSection</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sectionTitle">Section Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0c4a4608-83a4-4ef0-9a08-5bd8b4bd6423</Key>
      <Caption>List Cards</Caption>
      <Alias>listCards</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ad7139b3-c6f0-4607-802e-02e13a4907ae</Key>
      <Caption>Section Title</Caption>
      <Alias>sectionTitle</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>