<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e6c427db-f1c2-4c00-a96e-f4efe9bb8695" Alias="blockFeaturedCard" Level="2">
  <Info>
    <Name>Block Featured Card</Name>
    <Icon>icon-vcard color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This kind of cards are displayed in the menu</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Atom+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>efddd457-6558-476e-85b9-3a8ee5d19468</Key>
      <Name>Featured Card</Name>
      <Alias>featuredCard</Alias>
      <Definition>85415719-4e26-4986-a443-c87ec819678e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="featuredCard">Featured Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d7df414-02d2-40c0-a42f-3ab2bbdac69a</Key>
      <Name>Kind of Content</Name>
      <Alias>kindOfContent</Alias>
      <Definition>cf4ab873-e6e3-432a-a44f-93db7fbaad94</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="featuredCard">Featured Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>735ce872-9ead-4777-a402-7d12ec9423bf</Key>
      <Caption>Featured Card</Caption>
      <Alias>featuredCard</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>