<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="858798e2-9e99-4406-876e-4360d7d89b83" Alias="blockNavigazioneInternaCategoriaMercato" Level="2">
  <Info>
    <Name>Block Navigazione Interna Categoria Mercato</Name>
    <Icon>icon-navigation color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1424731c-3a98-4d63-b589-91b20e4ca381</Key>
      <Name>Link Interni</Name>
      <Alias>linkInterni</Alias>
      <Definition>dc7bcebb-decd-44b7-8ce5-66d67e336d1c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="linkInterni">Link Interni</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8f6b82dd-cdd8-40db-83ee-001ad3bf27d3</Key>
      <Caption>Link Interni</Caption>
      <Alias>linkInterni</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>