<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cbeaa1c5-880a-4266-8d87-c4a0c80d12e1" Alias="blockLancioProdotto" Level="2">
  <Info>
    <Name>Block Lancio Prodotto</Name>
    <Icon>icon-paper-plane-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b6f4d2f4-034f-4961-ab06-e64e268f667d</Key>
      <Name>Bottone CTA</Name>
      <Alias>bottoneCTA</Alias>
      <Definition>c26645d9-8b1c-42d7-acb9-3ab375f82b86</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="fullWidthCTA">FullWidth CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>150509f5-acf5-4602-bf1c-82ace2f7a529</Key>
      <Name>CTA Lancio Prodotto</Name>
      <Alias>cTALancioProdotto</Alias>
      <Definition>0a7df344-e80d-4df2-b1d9-186655a1777b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="campiTestuali">Campi Testuali</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>be434e24-a97b-4d1c-8985-ec57eeb21697</Key>
      <Name>Descrizione Lancio Prodotto</Name>
      <Alias>descrizioneLancioProdotto</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="campiTestuali">Campi Testuali</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aaaa33bd-23bc-4c78-8251-31bcc53953bb</Key>
      <Name>Display CTA</Name>
      <Alias>displayCTA</Alias>
      <Definition>1d6c973a-aaf9-43d9-985b-ee527299efe8</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="fullWidthCTA">FullWidth CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe5b7464-e15d-4215-baf5-d40c505964a9</Key>
      <Name>Display Titolo Sezione</Name>
      <Alias>displayTitoloSezione</Alias>
      <Definition>4e743af4-495d-46a1-b4f8-bb0aa395f0a6</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="titoloSezione">Titolo Sezione</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4e138097-c9b2-4931-8758-f2d0d8e41634</Key>
      <Name>Immagine Lancio Prodotto</Name>
      <Alias>immagineLancioProdotto</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="immagine">Immagine</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf5c10e0-4b62-4c22-b732-39fa12cf2454</Key>
      <Name>Sottotitolo Lancio Prodotto</Name>
      <Alias>sottotitoloLancioProdotto</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="campiTestuali">Campi Testuali</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2848c6e9-8e7c-4c6f-a50e-d1654e5ecf7a</Key>
      <Name>Sottotitolo Sezione</Name>
      <Alias>sottotitoloSezione</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="titoloSezione">Titolo Sezione</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f6b4f75-7f6e-4660-a7d9-776cb8e91650</Key>
      <Name>Titolo CTA</Name>
      <Alias>titoloCTA</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="fullWidthCTA">FullWidth CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ad4cfa6-4c49-4c56-bb86-c5267cbd1b3c</Key>
      <Name>Titolo Lancio Prodotto</Name>
      <Alias>titoloLancioProdotto</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="campiTestuali">Campi Testuali</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31a809d9-0cd7-469a-8362-d5577b2102de</Key>
      <Name>Titolo Sezione</Name>
      <Alias>titoloSezione</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="titoloSezione">Titolo Sezione</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>677b3db5-5adb-400b-82a7-4260b045e1ad</Key>
      <Caption>Campi Testuali</Caption>
      <Alias>campiTestuali</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>7ca11dce-fe57-4f59-971d-c0de59425a0c</Key>
      <Caption>Titolo Sezione</Caption>
      <Alias>titoloSezione</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>908d9f13-079b-4ad8-b825-1d6761cb5591</Key>
      <Caption>Immagine</Caption>
      <Alias>immagine</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dc85c5e1-97d5-460d-ab68-2e8f0ef509b0</Key>
      <Caption>FullWidth CTA</Caption>
      <Alias>fullWidthCTA</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>