<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="923c5359-38a6-4c4c-a505-c91d08582e12" Alias="blockInternalLink" Level="2">
  <Info>
    <Name>Block Internal Link</Name>
    <Icon>icon-link color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Atom+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1a153e6e-1ff0-4e09-868f-25e048fc686f</Key>
      <Name>Block Anchor ID</Name>
      <Alias>blockAnchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="internalLink">Internal Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07a3628a-bbfc-4d85-817e-d8580424dd5c</Key>
      <Name>Block Selector</Name>
      <Alias>blockSelector</Alias>
      <Definition>d3f32971-3337-46a4-a1ca-7b0a6eb13464</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the kind of block for the anchor]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="internalLink">Internal Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>23fea56d-66c1-4196-89c3-9ce350823ee7</Key>
      <Name>Internal Link Label</Name>
      <Alias>internalLinkLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="internalLink">Internal Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e9e0a53-197b-4e43-b92e-1fd3e025f090</Key>
      <Name>Use Anchor ID</Name>
      <Alias>useAnchorID</Alias>
      <Definition>ca78f641-2f26-49a3-b774-06ecffba819d</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to use the Anchor ID field populated in the block settings]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="internalLink">Internal Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>32983fb0-49cf-475f-aab4-e864c3591cc2</Key>
      <Caption>Internal Link</Caption>
      <Alias>internalLink</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>