<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="74be8417-11fc-45a2-bc7d-0254e173e812" Alias="blockCasiUso" Level="2">
  <Info>
    <Name>Block Casi Uso</Name>
    <Icon>icon-mouse-cursor color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>79609f06-2c68-4839-8107-f4caad38d767</Key>
      <Name>Lista Casi Uso</Name>
      <Alias>listaCasiUso</Alias>
      <Definition>d74ba28f-ef52-4840-b3be-4c7484350a91</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cards">Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d2bf32c-b075-41f6-97f0-36372b0bf545</Key>
      <Name>Titolo Casi Uso</Name>
      <Alias>titoloCasiUso</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="titoloSezione">Titolo Sezione</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27057239-be24-4585-8557-18f00915b862</Key>
      <Caption>Cards</Caption>
      <Alias>cards</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>3cb0b8d0-77d2-4542-a57e-636aacff1827</Key>
      <Caption>Titolo Sezione</Caption>
      <Alias>titoloSezione</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>