<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="89571c2a-5b1a-4e50-9ae0-949e326aedc6" Alias="blockCardSoluzioni" Level="2">
  <Info>
    <Name>Block Card Soluzioni</Name>
    <Icon>icon-console color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>901305ae-1f87-4234-b8be-6875598f6d5b</Key>
      <Name>Contenuto Categoria</Name>
      <Alias>contenutoCategoria</Alias>
      <Definition>252186f8-3309-4794-a5f5-651e5d7e0ee6</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contenutoCard">Contenuto Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f368e23e-c66e-4ed0-8f98-90c442e3e923</Key>
      <Name>Contenuto Soluzioni</Name>
      <Alias>contenutoSoluzioni</Alias>
      <Definition>d1dde341-14d4-4c23-88be-9b1670bd6c1c</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contenutoCard">Contenuto Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dbc458f8-6f28-40bf-ae6e-d5324235b6c8</Key>
      <Name>Mostrare Singole Soluzioni</Name>
      <Alias>mostrareSingoleSoluzioni</Alias>
      <Definition>747c77c3-a883-49d0-bc89-f585cc775a8c</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contenutoCard">Contenuto Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4e35cc4a-6fe5-4cd4-8b69-9da8cd0c302d</Key>
      <Name>Titolo Sezione</Name>
      <Alias>titoloSezione</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="titoloSezione">Titolo Sezione</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27e66ac7-e573-460f-a9e7-8cb199e7305e</Key>
      <Caption>Titolo Sezione</Caption>
      <Alias>titoloSezione</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b7c47378-8ade-4162-bd9a-8489e60f14f6</Key>
      <Caption>Contenuto Card</Caption>
      <Alias>contenutoCard</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>