<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="242cfb35-11d0-4ebd-8dee-e0005e8e2eb6" Alias="blockTable" Level="2">
  <Info>
    <Name>Block Table</Name>
    <Icon>icon-grid color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cba2e0cf-4efb-4896-81ff-5fb1641565ef</Key>
      <Name>Columns Name</Name>
      <Alias>columnsName</Alias>
      <Definition>20107261-884e-4f4a-b715-8413724fa5cb</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Here set the columns label and, consequently, the number of column]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tableHead">Table Head</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>165863e9-9432-4a13-bdbb-e945d5ce0ee5</Key>
      <Name>Final CTAs</Name>
      <Alias>finalCTAs</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Insert as much ctas as the number of columns]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tableFooter">Table Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b2215c5-4602-4190-9eb8-22f39be9372f</Key>
      <Name>Table Body</Name>
      <Alias>tableBody</Alias>
      <Definition>01dcf6db-461f-4f21-a0f0-1250d4ea63e3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tableBody">Table Body</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>490bd92a-51c9-4463-96d0-c86494ac3ea0</Key>
      <Name>Table Subtitle</Name>
      <Alias>tableSubtitle</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tableTitle">Table Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>133c03d3-e48b-4ff1-8aef-dd0fede342bf</Key>
      <Name>Table Title</Name>
      <Alias>tableTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tableTitle">Table Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1bb9b0de-149b-4032-b4c6-0dc7c4f12b0f</Key>
      <Caption>Table Body</Caption>
      <Alias>tableBody</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>94f7c01a-ddfc-4781-9da7-a82a15fcd51a</Key>
      <Caption>Table Footer</Caption>
      <Alias>tableFooter</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>bb165c11-ac8b-4ea0-bb6d-236eb4fcd244</Key>
      <Caption>Table Title</Caption>
      <Alias>tableTitle</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>e2ffa8e2-6277-4e72-b46a-957ff2faa898</Key>
      <Caption>Table Head</Caption>
      <Alias>tableHead</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>