<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f98b545b-10a2-4904-b2ef-ce4570de0472" Alias="blockForm" Level="2">
  <Info>
    <Name>Block Form</Name>
    <Icon>icon-umb-contour color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>74f97d2c-ebde-45e8-acf7-f402b9e761e5</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>7947f361-9871-43c8-8895-78d3b312288b</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="formSelection">Form Selection</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5bce0c3b-6ac1-49bb-99a2-0f5e465bbe4e</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>ee6c9659-df21-45fc-b0b6-78d0b538692c</Definition>
      <Type>UmbracoForms.ThemePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="formSelection">Form Selection</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>376a42b3-a8ff-48c4-a809-c7f19339e9de</Key>
      <Name>Titolo Form</Name>
      <Alias>titoloForm</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="titoloSezione">Titolo Sezione</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9cc5e550-0ce9-429a-92ac-e1f4e108ee92</Key>
      <Caption>Form Selection</Caption>
      <Alias>formSelection</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>aa6f6f00-8be3-43dc-9e3c-a6e89ac90e51</Key>
      <Caption>Titolo Sezione</Caption>
      <Alias>titoloSezione</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>