<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a539f50c-ea4d-41ff-80d6-8523e048375b" Alias="blockLancioProdottoSettings" Level="2">
  <Info>
    <Name>Block Lancio Prodotto Settings</Name>
    <Icon>icon-paper-plane-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>36764372-d553-4993-ac62-7f9576cad9e8</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Populate this field to set an ID to the block and use it in the Block Internal Navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ancoraggio">Ancoraggio</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c9f0322e-16d5-420d-9526-ce87e75819d1</Key>
      <Name>Layout Lancio Prodotto</Name>
      <Alias>layoutLancioProdotto</Alias>
      <Definition>35fb9548-59e0-429b-9949-da94781663eb</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Si possono selezionare due layout: sfondo blu, testo bianco, immagine a sinistra, cta arancioni; sfondo bianco, testo nero, immagine a destra, cta blu]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="selezioneLayout">Selezione Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ac9e3ff-a2b2-4782-b735-da36568ceda3</Key>
      <Name>No Spacing Bottom</Name>
      <Alias>noSpacingBottom</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flaggare per togliere la spaziatura inferiore alla sezione]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="spaziatura">Spaziatura</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2e298b68-ceb2-466d-87c6-826585a91400</Key>
      <Name>No Spacing Top</Name>
      <Alias>noSpacingTop</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flaggare per togliere spaziatura superiore alla sezione]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="spaziatura">Spaziatura</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9d4e8f77-2dfa-4131-8df8-945043daee9b</Key>
      <Caption>Ancoraggio</Caption>
      <Alias>ancoraggio</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>c724cadc-5b19-4313-a186-217b9ad90d9e</Key>
      <Caption>Selezione Layout</Caption>
      <Alias>selezioneLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d3274dca-9f7c-4d42-89bb-a76d6aa18923</Key>
      <Caption>Spaziatura</Caption>
      <Alias>spaziatura</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>