<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1e130ff2-090b-4d84-ac01-c873df1d82c9" Alias="business" Level="2">
  <Info>
    <Name>Business</Name>
    <Icon>icon-euro-bag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Business</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Business</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ce7f4d84-1e91-4c49-a1f5-edbefa7d30b8">Business</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9d3c062b-4ae7-4f35-8e23-780d6baf90d1" SortOrder="0">servizi</ContentType>
    <ContentType Key="2b5b4ebe-1be3-4c92-b2b2-711364985672" SortOrder="1">mercati</ContentType>
    <ContentType Key="50afc906-3fe7-43af-9ed1-75843c9c55a6" SortOrder="2">trendTopics</ContentType>
    <ContentType Key="ed69d312-9120-41a4-b662-5a89e0d106c1" SortOrder="3">storieDiSuccesso</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>db7f266b-4eb9-4ac6-999e-fe7fbe1ef25a</Key>
      <Name>Altri Blocchi</Name>
      <Alias>altriBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questi blocchi verranno inseriti dopo la sezione di card automatica]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="generic/blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>beec1c2c-d2c9-49b3-a88e-0a54a8cd3a79</Key>
      <Name>Primi Blocchi</Name>
      <Alias>primiBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questi blocchi verranno mostrati prima della sezione di card automatica]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="generic/blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99922f3d-7fb4-44b9-ac28-20805497ffad</Key>
      <Name>Titolo Business</Name>
      <Alias>titoloBusiness</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="generic/impostazioniPagina">Impostazioni Pagina</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>51ab3e7d-297a-4229-85c2-43a5997fb486</Key>
      <Caption>Generic</Caption>
      <Alias>generic</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>73e97bc9-b2db-424e-8174-9927848f2707</Key>
      <Caption>Impostazioni Pagina</Caption>
      <Alias>generic/impostazioniPagina</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a866d614-d8a7-481e-bbb2-ab4a87b775ae</Key>
      <Caption>Blocchi</Caption>
      <Alias>generic/blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>