<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="608890d6-674b-4ec6-8522-c7661950508a" Alias="category" Level="2">
  <Info>
    <Name>Category</Name>
    <Icon>icon-categories color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Business</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Category</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f80253c5-6f7a-4b85-b884-46a4a4661d47">Category</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="eac49dfc-9bc6-43c9-a93a-8ef8859feaa7" SortOrder="0">soluzione</ContentType>
    <ContentType Key="fbecd58c-2b59-426c-a19b-9edd60eba4a4" SortOrder="1">categoriaMercato</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1bab1ccb-717b-403c-ac09-111488aab76e</Key>
      <Name>Abstract Category</Name>
      <Alias>abstractCategory</Alias>
      <Definition>a57fd375-1008-429f-8901-ae094798ef53</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="card">Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0cf29cfd-2ac3-4a7f-a5c4-65cdc3d36222</Key>
      <Name>Cta Navigazione Interna</Name>
      <Alias>ctaNavigazioneInterna</Alias>
      <Definition>c26645d9-8b1c-42d7-acb9-3ab375f82b86</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigazioneInterna">Navigazione Interna</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>636d0b51-1eea-425f-b113-aea66d1100ab</Key>
      <Name>Descrizione Category</Name>
      <Alias>descrizioneCategory</Alias>
      <Definition>80f2e08a-e7c0-4c58-b8e6-edcc8fd4f2de</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c381f666-6d84-458e-9933-2d501780a16e</Key>
      <Name>Icona Category</Name>
      <Alias>iconaCategory</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="card">Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f485df22-f7bb-4352-8caf-797d904ecc63</Key>
      <Name>Immagine Category</Name>
      <Alias>immagineCategory</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questa immagine verrà mostrata sia nella hero che nella card della categoria]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24cfff06-e751-4cd3-9c1d-1e9de851eff1</Key>
      <Name>Titolo Category</Name>
      <Alias>titoloCategory</Alias>
      <Definition>8f52e835-c928-41c9-9cc0-317cbd31d71d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>707fd81d-8474-4c1e-b14c-604b976bafe6</Key>
      <Caption>Navigazione Interna</Caption>
      <Alias>navigazioneInterna</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>8d20e654-3ced-41bc-b0d2-3fdd387294ad</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c1cd6ca1-a512-476d-ab33-4b0ba52c3f24</Key>
      <Caption>Card</Caption>
      <Alias>card</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>