<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e2f6db07-3432-4d3c-9206-9e8597007b13" Alias="consumatori" Level="2">
  <Info>
    <Name>Consumatori</Name>
    <Icon>icon-coins-dollar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Consumatori</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Consumatori</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="84168e8e-5aab-4e4b-a206-9ef2c50f2481">Consumatori</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3e7e172c-eb52-481d-a2e7-dc39a482ef31" SortOrder="0">consumatoriCategoriaProdotti</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4dade4d8-0485-4a80-b185-9a3a85632ac1</Key>
      <Name>Altri Blocchi</Name>
      <Alias>altriBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="mostrareArticoli">Mostrare Articoli</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bae0ad0a-ef8d-40ca-98d3-f837871e45dd</Key>
      <Name>Blocchi Consumatori</Name>
      <Alias>blocchiConsumatori</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="blocchiConsumatori">Blocchi Consumatori</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ba1fcce3-6539-47c6-bc72-d5b5fe83545f</Key>
      <Name>Mostrare Ultimi Articoli</Name>
      <Alias>mostrareUltimiArticoli</Alias>
      <Definition>2db2c6db-beb8-452c-a67a-89d5400f597d</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mostrareArticoli">Mostrare Articoli</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6a4fe31-ed01-47c4-92ae-c12630d2adfb</Key>
      <Name>Tipologia Articoli</Name>
      <Alias>tipologiaArticoli</Alias>
      <Definition>71d0d4f7-1d4c-41ce-b862-ec62adb71720</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="mostrareArticoli">Mostrare Articoli</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2063ec5-555c-4c22-b263-3f47092ddef7</Key>
      <Name>Titolo Ultimi Articoli</Name>
      <Alias>titoloUltimiArticoli</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mostrareArticoli">Mostrare Articoli</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9bce9ae9-58a5-4107-bb27-19dd011ce906</Key>
      <Caption>Blocchi Consumatori</Caption>
      <Alias>blocchiConsumatori</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b763db0d-45fb-4d6b-bf04-a68ffdd9a7d8</Key>
      <Caption>Mostrare Articoli</Caption>
      <Alias>mostrareArticoli</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>