<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e7e172c-eb52-481d-a2e7-dc39a482ef31" Alias="consumatoriCategoriaProdotti" Level="2">
  <Info>
    <Name>Consumatori Categoria Prodotti</Name>
    <Icon>icon-coin-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Consumatori</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>ConsumatoriCategoriaProdotti</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="da96c613-07bf-4609-8b1b-c1e61956a005">ConsumatoriCategoriaProdotti</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="31f66af9-5380-44d2-8673-760238949fb0" SortOrder="0">consumatoriProdotto</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>366ad083-b3ab-4b4a-87a0-5301a5bc9b1b</Key>
      <Name>Background Grigio</Name>
      <Alias>backgroundGrigio</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flaggare per mostrare le card degli altri prodotti su backbround grigio]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="altriProdotti">Altri Prodotti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c703064e-871f-40a6-8bfc-017683ebf4f1</Key>
      <Name>Blocchi Successivi</Name>
      <Alias>blocchiSuccessivi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="altriProdotti">Altri Prodotti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b8a4e92-4897-461f-af16-c3eb4f140483</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[These blocks will be displayed before the "Our solutions" section]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>97a3568b-73ab-44ff-b4a5-df8e0c9dbc00</Key>
      <Name>Mostra Altri Prodotti</Name>
      <Alias>mostraAltriProdotti</Alias>
      <Definition>1f78504c-c6ce-4c0b-a42f-aa0a0c62a30e</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flaggare per mostrare i prodotti relazionati]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="altriProdotti">Altri Prodotti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0d0d2fc8-a083-4dee-874a-48f2d3990c79</Key>
      <Name>Nascondi Breadcrumb</Name>
      <Alias>nascondiBreadcrumb</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="breadcrumb">Breadcrumb</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5544074-8ea6-4e44-be44-3e09ad7afab5</Key>
      <Name>Titolo Altri Prodotti</Name>
      <Alias>titoloAltriProdotti</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inserire il titolo della sezione]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="altriProdotti">Altri Prodotti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>19ad03e3-30ea-4304-8649-4abc4e90fe0b</Key>
      <Caption>Altri Prodotti</Caption>
      <Alias>altriProdotti</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>63e503b3-663d-4678-8138-e986fc36301e</Key>
      <Caption>Blocchi</Caption>
      <Alias>blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>c4c1aa76-b24a-47a8-ad1a-df310b9e3166</Key>
      <Caption>Breadcrumb</Caption>
      <Alias>breadcrumb</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>