<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d351eb3e-70e6-421a-87ee-4721c35201a6" Alias="contatto" Level="2">
  <Info>
    <Name>Contatto</Name>
    <Icon>icon-phone-ring color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Contatti</Folder>
    <Compositions>
      <Composition Key="cbb57c27-0eab-4eb6-abfc-26b763596435">sEO1</Composition>
    </Compositions>
    <DefaultTemplate>Contatto</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fcf71fd1-a07e-4d47-b242-1614cf25bada">Contatto</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ded97ddc-f437-4a71-aa6b-9d5fb29a475e</Key>
      <Name>Blocchi Contatto</Name>
      <Alias>blocchiContatto</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af075f25-5bf2-4a0b-8a3f-3f8b1cd9dfd3</Key>
      <Name>Descrizione Card</Name>
      <Alias>descrizioneCard</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="cardContatto">Card Contatto</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a354f49-f278-4fc7-a3b0-ab7e4965dee0</Key>
      <Name>Icona Card</Name>
      <Alias>iconaCard</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cardContatto">Card Contatto</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2eaabf45-2079-4fd2-ba59-bf040a0a7e93</Key>
      <Name>Label Link</Name>
      <Alias>labelLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="cardContatto">Card Contatto</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>295d82ed-a765-4e34-a0c7-ea098385bd7f</Key>
      <Name>Nascondi Breadcrumb</Name>
      <Alias>nascondiBreadcrumb</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Nel caso in cui si voglia usare una Hero che complende già il breadcrumb, flaggare il campo per non farlo apparire doppio]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="breadcrumb">Breadcrumb</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d4e54d5-71f9-4b52-8bee-dbc2f60e8558</Key>
      <Name>Titolo Card</Name>
      <Alias>titoloCard</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="cardContatto">Card Contatto</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>914ad45a-3642-4cc0-91cf-2f71430248cc</Key>
      <Caption>Card Contatto</Caption>
      <Alias>cardContatto</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a819bec8-732b-4d21-bb36-d2d97e8b23a0</Key>
      <Caption>Breadcrumb</Caption>
      <Alias>breadcrumb</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>b2519e9b-bc56-459c-a9f0-f96490871c66</Key>
      <Caption>Blocchi</Caption>
      <Alias>blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>