<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5b55827-f4b4-4928-b980-352bc0ccb89c" Alias="eventi" Level="2">
  <Info>
    <Name>Eventi</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+News%2cEventi%2cRicerche%2cAcademy%2cArea+Stampa</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Eventi</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6e409ea4-60f8-4aee-b915-cfdfc9fe22f7">Eventi</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="43c609dd-72ec-420b-ac99-3fce015839c7" SortOrder="0">articolo</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1c3fdee6-269c-4693-89b9-e1251c5b3e14</Key>
      <Name>Altri Blocchi</Name>
      <Alias>altriBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sezioneAutomatica">Sezione automatica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a621599a-09c6-4269-912a-63afe9bb889e</Key>
      <Name>Blocchi</Name>
      <Alias>blocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7dabb262-fae2-4ef6-9ae6-3dd631009165</Key>
      <Name>Elementi Per Pagina</Name>
      <Alias>elementiPerPagina</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sezioneAutomatica">Sezione automatica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>57c52391-8a8e-4253-9f81-8b282124d23b</Key>
      <Name>Mostrare Listing</Name>
      <Alias>mostrareListing</Alias>
      <Definition>1d604c70-e1e8-4b1f-8947-4639303a0d4c</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sezioneAutomatica">Sezione automatica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6d0322b1-b4f8-40d0-a7ea-ca5b59407020</Key>
      <Name>Ordine Custom</Name>
      <Alias>ordineCustom</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inserire il livello di priorità con cui mostrare questa pagina nella barra di navigazione automatica]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ordinamento">Ordinamento</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc3a5a90-c03b-4751-a17d-60885401a869</Key>
      <Name>Titolo Aggiornamenti</Name>
      <Alias>titoloAggiornamenti</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sezioneAutomatica">Sezione automatica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1dd1dfaa-fe1d-4357-8fbd-045a188819c8</Key>
      <Caption>Ordinamento</Caption>
      <Alias>ordinamento</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>593dbfe5-a260-4585-be7d-c7b23b05fc76</Key>
      <Caption>Sezione automatica</Caption>
      <Alias>sezioneAutomatica</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>f63db710-c2d7-48dd-a560-679a9d4c522e</Key>
      <Caption>Blocchi</Caption>
      <Alias>blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>