<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e73c56c0-4d28-4afd-936d-549017f5e38e" Alias="family" Level="2">
  <Info>
    <Name>Family</Name>
    <Icon>icon-coin color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Business</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Family</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cf9308a7-eeab-486a-a13e-a8f14aa59e67">Family</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="608890d6-674b-4ec6-8522-c7661950508a" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>85fde69c-36dc-4e5a-a6dd-b2e714069347</Key>
      <Name>Abstract Family</Name>
      <Alias>abstractFamily</Alias>
      <Definition>a57fd375-1008-429f-8901-ae094798ef53</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="cardFamily">Card Family</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a42a3c9f-2cbc-4b47-81ea-dee14a1c2a2b</Key>
      <Name>Altri Blocchi</Name>
      <Alias>altriBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questi blocchi verranno mostrati dopo la sezione automatica]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>86f070c4-5ffb-441d-881f-d6b22e9551a6</Key>
      <Name>Descrizione Family</Name>
      <Alias>descrizioneFamily</Alias>
      <Definition>80f2e08a-e7c0-4c58-b8e6-edcc8fd4f2de</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cdab887c-8b03-48ac-b999-ac988a1c2005</Key>
      <Name>Family Abstract</Name>
      <Alias>familyAbstract</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inserire qui un sottotitolo che, se popolato, viene mostrato nel menù di navigazione espanso]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>83623177-c929-4a85-828a-475e2d82d98b</Key>
      <Name>Icona Family</Name>
      <Alias>iconaFamily</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cardFamily">Card Family</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3409ae10-d317-4ce1-8ba2-51fb13d1c99a</Key>
      <Name>Immagine Family</Name>
      <Alias>immagineFamily</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2a8dfc42-6bc0-4a21-b1b5-576c2a5d51a9</Key>
      <Name>Mercati Di Riferimento</Name>
      <Alias>mercatiDiRiferimento</Alias>
      <Definition>1aed7a09-d300-474e-9c0c-0a3654420907</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questo campo va popolato unicamente per i tracciamenti, non ha alcun effetto al frontend. Qui vanno inseriti tutti i mercati che si vogliono legare al corrente contenuto]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="riferimenti">Riferimenti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2604614e-bec4-4511-9d73-52696e3d7c00</Key>
      <Name>Mostra Sezione Automatica</Name>
      <Alias>mostraSezioneAutomatica</Alias>
      <Definition>8aa9e27d-1b5d-4efc-9ca5-5c73e7b8b5db</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="templateFamily">Template Family</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4eafb1da-3b34-44e4-979e-d1bb008f86b5</Key>
      <Name>Primi Blocchi</Name>
      <Alias>primiBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questi blocchi verranno inseriti prima della sezione di card listing automatica]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4960352a-e802-4876-a336-4a6e85085341</Key>
      <Name>Titolo Family</Name>
      <Alias>titoloFamily</Alias>
      <Definition>8f52e835-c928-41c9-9cc0-317cbd31d71d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0aafcf17-f152-497e-9d07-ffb90759ffb0</Key>
      <Name>Titolo Sezione Automatica</Name>
      <Alias>titoloSezioneAutomatica</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="templateFamily">Template Family</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>02943d1b-7d8d-497b-a293-156896e37da9</Key>
      <Caption>Template Family</Caption>
      <Alias>templateFamily</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>1c35c980-f71b-4e7e-af89-118e94990788</Key>
      <Caption>Blocchi</Caption>
      <Alias>blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>4e075166-a5df-447a-815c-bb279b6a0eaa</Key>
      <Caption>Riferimenti</Caption>
      <Alias>riferimenti</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>86c6d353-a3ca-4d61-b3f5-51be2e960720</Key>
      <Caption>Menu</Caption>
      <Alias>menu</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>be2b62ec-0b5c-41f2-962a-d8362148c87d</Key>
      <Caption>Card Family</Caption>
      <Alias>cardFamily</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>befb3097-6236-4a73-b47c-f817b71d8ff4</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>