<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="047aba08-8429-45f5-9b1b-4ed009d076e2" Alias="history" Level="3">
  <Info>
    <Name>History</Name>
    <Icon>icon-time color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Create this page to collect all the Decade pages. Here there are the settings of all the hero for all decades</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+About/History</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>History</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8cce006f-0753-4103-b635-f7fb59e164d5">History</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8f4f8a10-bb14-4e42-a55b-30269b338a8d" SortOrder="0">decade</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cece7060-3d36-483d-bbdb-2066cb7e5d14</Key>
      <Name>History Description</Name>
      <Alias>historyDescription</Alias>
      <Definition>372746db-19f0-45db-aa16-5f3730c1dac5</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="historySettings">History Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e9055a90-5f42-4f8f-b77b-a3499867f311</Key>
      <Name>History Title</Name>
      <Alias>historyTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="historySettings">History Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>13384b81-8c58-487d-b288-37e448da330c</Key>
      <Caption>History Settings</Caption>
      <Alias>historySettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>