<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0761c431-d866-434f-b99c-2ad460b076e3" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="92909c53-dbef-4f8a-a821-08c8afd0a974">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1e130ff2-090b-4d84-ac01-c873df1d82c9" SortOrder="0">business</ContentType>
    <ContentType Key="e2f6db07-3432-4d3c-9206-9e8597007b13" SortOrder="1">consumatori</ContentType>
    <ContentType Key="8f0a04a5-b032-4cc1-a2b0-9b97a7c9e637" SortOrder="2">about</ContentType>
    <ContentType Key="9720ba2b-a1e9-4ccc-b6b1-0c1fbfdb9cb7" SortOrder="3">blankPage</ContentType>
    <ContentType Key="806a4591-d3ed-414e-bf64-2f2b56bd870e" SortOrder="4">knowledgeEvents</ContentType>
    <ContentType Key="f5d20e1c-d9eb-447b-a1ec-ac1524b46ef1" SortOrder="5">searchResults</ContentType>
    <ContentType Key="548e13c7-9bd1-4c6f-86f1-8117b8bdac0c" SortOrder="6">policy</ContentType>
    <ContentType Key="160ddef1-b8ed-4f83-ad19-691a9518e08c" SortOrder="7">xmlSiteMap</ContentType>
    <ContentType Key="c4d162fc-af42-4b46-8694-cc7083d5e896" SortOrder="8">menuSettings</ContentType>
    <ContentType Key="eea3a74a-2f14-497f-b070-491900c0c067" SortOrder="9">contatti</ContentType>
    <ContentType Key="515d9bbd-4065-49cf-9acb-cd730389ae68" SortOrder="10">newsEdEventi</ContentType>
    <ContentType Key="2ff2c683-7ff7-4645-b9fb-3d9d401ac7bd" SortOrder="11">ricercheAcademy</ContentType>
    <ContentType Key="8a5b5c06-3777-4691-95a2-918244d82093" SortOrder="12">areaStampa</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c8a9e0f6-e4a2-4da7-9398-9559f195608e</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blockList">Block List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bad97265-1296-41c8-a1c7-76bb037b607b</Key>
      <Name>Home Cover CTA</Name>
      <Alias>homeCoverCTA</Alias>
      <Definition>c26645d9-8b1c-42d7-acb9-3ab375f82b86</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="homeInfo">Home Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0b05833-a4f2-43f0-a788-82b0cb16a92c</Key>
      <Name>Home Cover Image</Name>
      <Alias>homeCoverImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="homeInfo">Home Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f13c336b-756e-43d2-81ca-2adfe50e5f49</Key>
      <Name>Home Cover Title</Name>
      <Alias>homeCoverTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="homeInfo">Home Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>39ae3905-a8b1-47d8-8517-4997c7a7af3b</Key>
      <Caption>Home Info</Caption>
      <Alias>homeInfo</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a63e36b3-9535-46cc-8b8b-46607a72cf62</Key>
      <Caption>Block List</Caption>
      <Alias>blockList</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>