<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bace0b5f-69e0-4b01-9e8e-733348822b35" Alias="industries" Level="2">
  <Info>
    <Name>Industries</Name>
    <Icon>icon-factory color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Business</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Industries</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="770d8d80-1388-4209-94cc-b9b284708fde">Industries</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6b996f07-55c2-42ae-90e9-2de17d9c6570" SortOrder="0">industry</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cd0bf3b3-6919-4075-9771-716638696525</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="industriesInfo">Industries Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9bf0359d-4538-433d-a4c1-9374d75a4876</Key>
      <Name>Industries Title</Name>
      <Alias>industriesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="industriesInfo">Industries Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d631affd-43a4-4f68-9f04-5c527367dead</Key>
      <Caption>Industries Info</Caption>
      <Alias>industriesInfo</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>