<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b996f07-55c2-42ae-90e9-2de17d9c6570" Alias="industry" Level="2">
  <Info>
    <Name>Industry</Name>
    <Icon>icon-library color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Business</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Industry</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="768d5c12-f10e-4326-b95e-b6592fad6a34">Industry</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>97d967fc-a0ea-47e7-ba05-188a5dd1c8d9</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[These blocks will be displayed before the "Uses cases" section]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="industryInfo">Industry Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>826b0f2f-1c3e-45b8-bbfe-214e0134d8aa</Key>
      <Name>Cover Icon</Name>
      <Alias>coverIcon</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The icon will be displayed in the Industry Card]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="industryInfo">Industry Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b7ed4a3-23f2-422b-aa43-7a19f210c995</Key>
      <Name>Cover Image</Name>
      <Alias>coverImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="industryInfo">Industry Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a323aa54-242f-4747-8152-a5328d941c5a</Key>
      <Name>Industry Abstract</Name>
      <Alias>industryAbstract</Alias>
      <Definition>a57fd375-1008-429f-8901-ae094798ef53</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="industryInfo">Industry Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>432f736a-9e08-4464-826b-abfb02d19311</Key>
      <Name>Industry Description</Name>
      <Alias>industryDescription</Alias>
      <Definition>372746db-19f0-45db-aa16-5f3730c1dac5</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="industryInfo">Industry Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>05bd3ec4-f3f5-48fe-8036-35ab34c4c3e3</Key>
      <Name>Industry Title</Name>
      <Alias>industryTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="industryInfo">Industry Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d2ccb268-c1b7-4c3d-8097-c049c9627040</Key>
      <Name>Latest Blocks</Name>
      <Alias>latestBlocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[These blocks will be displayed after the "Uses cases" section]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="industryInfo">Industry Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>efa4ef7b-7162-4dce-ad19-5ec456f1ef96</Key>
      <Name>Menu Keywords</Name>
      <Alias>menuKeywords</Alias>
      <Definition>a57fd375-1008-429f-8901-ae094798ef53</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This text will be displayed in the menu]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="industryInfo">Industry Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2cac6f9-7116-4ba0-b2a5-1df53f3a95d9</Key>
      <Name>Related Articles Title</Name>
      <Alias>relatedArticlesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="relatedContent">Related Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6b16a64-5db9-47c6-a24d-ad631b885726</Key>
      <Name>Show Related Articles</Name>
      <Alias>showRelatedArticles</Alias>
      <Definition>73899de9-6f88-4f98-a41a-dbbe7d6a285f</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to show related articles]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="relatedContent">Related Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e98daec-4735-49be-bba0-bb7d44724191</Key>
      <Name>Uses Cases</Name>
      <Alias>usesCases</Alias>
      <Definition>61bbb7db-1f74-44ee-8c28-3c7420a83b13</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="usesCases">Uses Cases</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9c6e8c7a-4398-4826-8f45-e8a82480ff3a</Key>
      <Name>Uses Cases Title</Name>
      <Alias>usesCasesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="usesCases">Uses Cases</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>43e4eabf-9e88-42c6-b60e-ff90cb5c05d7</Key>
      <Caption>Uses Cases</Caption>
      <Alias>usesCases</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>a8a7c400-9851-466b-b4ea-797fd8c0c9eb</Key>
      <Caption>Industry Info</Caption>
      <Alias>industryInfo</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b313592c-17ee-42d2-84cf-1197779e00ec</Key>
      <Caption>Related Content</Caption>
      <Alias>relatedContent</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>