<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="806a4591-d3ed-414e-bf64-2f2b56bd870e" Alias="knowledgeEvents" Level="2">
  <Info>
    <Name>Knowledge &amp; Events</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Knowledge</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>KnowledgeEvents</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c626a0d4-894f-463a-b57d-c44b91dc575c">KnowledgeEvents</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7128de20-ccaa-49c7-8d60-4ee595df411e" SortOrder="0">newsEvents</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a64c4362-cef7-4345-9548-817ce1292c2e</Key>
      <Name>Card List</Name>
      <Alias>cardList</Alias>
      <Definition>46ff57b8-9c6a-42e0-8226-35dceb581ac8</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="knowledgeEventsCardList1">Knowledge &amp; Events Card List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>642820a4-936a-4e19-b149-6a09e4f7dece</Key>
      <Name>Card List Title</Name>
      <Alias>cardListTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="knowledgeEventsCardList1">Knowledge &amp; Events Card List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c8d4ce60-d2c0-48e4-9580-7aefd0962297</Key>
      <Name>Filtered List</Name>
      <Alias>filteredList</Alias>
      <Definition>c0b28e28-55eb-4921-95f0-3bdf8b4bed48</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="knowledgeEventsFilteredList">Knowledge &amp; Events Filtered List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2a6ca48c-4aa6-486a-9d38-5416e7fd2463</Key>
      <Name>Filtered List Items per Page</Name>
      <Alias>filteredListItemsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="knowledgeEventsFilteredList">Knowledge &amp; Events Filtered List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>767fcd2c-8304-40a1-a614-579c4b9ff157</Key>
      <Name>Filtered List Title</Name>
      <Alias>filteredListTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="knowledgeEventsFilteredList">Knowledge &amp; Events Filtered List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b65417bb-4520-4d80-b0ed-526819051f73</Key>
      <Name>Knowledge &amp; Events Blocks</Name>
      <Alias>knowledgeEventsBlocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="knowledgeEventsInfo">Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>823e4489-1dd8-4a8f-ba3e-0e3ac9c75826</Key>
      <Name>Knowledge &amp; Events Description</Name>
      <Alias>knowledgeEventsDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="knowledgeEventsInfo">Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>702e3365-1b7d-4372-b9a5-51d318fd4a41</Key>
      <Name>Knowledge &amp; Events Title</Name>
      <Alias>knowledgeEventsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="knowledgeEventsInfo">Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52180a82-2e19-4123-9477-e3a19d6740c0</Key>
      <Name>Main List</Name>
      <Alias>mainList</Alias>
      <Definition>f76f14c1-a6b6-47b8-9207-58a9f9e65582</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="knowledgeEventsMainList">Knowledge &amp; Events Main List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bd7737bb-fcc4-4cec-ad59-6c2bda19cabe</Key>
      <Name>Main List Items per Page</Name>
      <Alias>mainListItemsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="knowledgeEventsMainList">Knowledge &amp; Events Main List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6486c4a-1e75-4c64-9809-a81708b96429</Key>
      <Name>Main List Title</Name>
      <Alias>mainListTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="knowledgeEventsMainList">Knowledge &amp; Events Main List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>21840a56-05b8-4bd6-9b13-d952d251552d</Key>
      <Caption>Knowledge &amp; Events Card List</Caption>
      <Alias>knowledgeEventsCardList1</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>c6837ae3-cc16-46a7-991f-715343e4d74e</Key>
      <Caption>Knowledge &amp; Events Filtered List</Caption>
      <Alias>knowledgeEventsFilteredList</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>cd3ac79d-e6ea-47b5-b615-80f6f78a87af</Key>
      <Caption>Knowledge &amp; Events Main List</Caption>
      <Alias>knowledgeEventsMainList</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>de9921b6-5b97-4241-bf9c-40c8b297e152</Key>
      <Caption>Knowledge &amp; Events Info</Caption>
      <Alias>knowledgeEventsInfo</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>