<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e9d9a4c-3703-4580-a41e-b007057b5f4e" Alias="membershipAffirmations" Level="3">
  <Info>
    <Name>Membership &amp; Affirmations</Name>
    <Icon>icon-handshake color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+About/Membership%26Affirmation</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>MembershipAffirmations</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b3bb375c-70bf-4a07-9500-ce9a348c6d0a">MembershipAffirmations</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4a8aed29-643f-4f5b-a5ce-408f3d4cf612" SortOrder="0">membershipAffirmationsSubpage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b1b027e4-61f7-42d1-a002-a527bed3db6f</Key>
      <Name>Membership &amp; Affirmations Blocks</Name>
      <Alias>membershipAffirmationsBlocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="membershipAffirmationsInfo">Membership &amp; Affirmations Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f2a56f6-5702-41cd-80cb-986cf569d5a6</Key>
      <Name>Membership &amp; Affirmations Description</Name>
      <Alias>membershipAffirmationsDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="membershipAffirmationsInfo">Membership &amp; Affirmations Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>330976e3-1269-45f0-868a-7532a44df48f</Key>
      <Name>Membership &amp; Affirmations Title</Name>
      <Alias>membershipAffirmationsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="membershipAffirmationsInfo">Membership &amp; Affirmations Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f779c437-b76a-403c-80c8-e0df3168618e</Key>
      <Caption>Membership &amp; Affirmations Info</Caption>
      <Alias>membershipAffirmationsInfo</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>