<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a8aed29-643f-4f5b-a5ce-408f3d4cf612" Alias="membershipAffirmationsSubpage" Level="3">
  <Info>
    <Name>Membership &amp; Affirmations Subpage</Name>
    <Icon>icon-handshake color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+About/Membership%26Affirmation</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>MembershipAffirmationsSubpage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2968c8de-f325-400b-8216-874630c724f6">MembershipAffirmationsSubpage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3e5bf46d-12f8-44c2-99e9-47b41ca6ed7f</Key>
      <Name>Membership &amp; Affirmations Subpage Blocks</Name>
      <Alias>membershipAffirmationsSubpageBlocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="membershipAffirmationsSubpageInfo">Membership &amp; Affirmations Subpage Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9de128ae-4ce6-4916-acbc-5f008d5d11b5</Key>
      <Caption>Membership &amp; Affirmations Subpage Info</Caption>
      <Alias>membershipAffirmationsSubpageInfo</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>