<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2b5b4ebe-1be3-4c92-b2b2-711364985672" Alias="mercati" Level="2">
  <Info>
    <Name>Mercati</Name>
    <Icon>icon-factory color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Business</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Mercati</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e143aaf0-d0dc-4cd4-87c7-c34261f99d92">Mercati</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e9849f35-b675-427e-9145-f988733e8116" SortOrder="0">mercato</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7c8b8478-ceb3-43d0-a093-c48109a9ca58</Key>
      <Name>Blocchi Mercati</Name>
      <Alias>blocchiMercati</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[I blocchi inseriti verranno mostrati dopo la sezione automatica di card listing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="generic/blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1f00244-05b5-4bff-ae9a-74b39348d6c7</Key>
      <Name>Descrizione Card Mercati</Name>
      <Alias>descrizioneCard</Alias>
      <Definition>a57fd375-1008-429f-8901-ae094798ef53</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="generic/cardMercati">Card Mercati</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2441573-bc74-4bd5-a408-90741b190070</Key>
      <Name>Icona Card Mercati</Name>
      <Alias>iconaCard</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="generic/cardMercati">Card Mercati</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4491db80-657d-44b2-a589-29af9cbd4b31</Key>
      <Name>Titolo Mercati</Name>
      <Alias>titoloMercati</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="generic/impostazioniPagina">Impostazioni Pagina</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>653f089d-6ab6-4d03-82e6-b8a41a51760f</Key>
      <Caption>Generic</Caption>
      <Alias>generic</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>6edf9e52-d49b-4bc0-9263-f5a9421fb843</Key>
      <Caption>Impostazioni Pagina</Caption>
      <Alias>generic/impostazioniPagina</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b7cc37b9-0612-4bb1-82e2-182014c76795</Key>
      <Caption>Card Mercati</Caption>
      <Alias>generic/cardMercati</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>ffb9dce7-ef6d-4d57-82f0-141bc209c878</Key>
      <Caption>Blocchi</Caption>
      <Alias>generic/blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>