<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7128de20-ccaa-49c7-8d60-4ee595df411e" Alias="newsEvents" Level="2">
  <Info>
    <Name>Knowledge &amp; Events Subpage</Name>
    <Icon>icon-categories color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Knowledge</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>NewsEvents</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="98204983-ea61-40e5-84a4-d2c2c54d2da8">NewsEvents</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d5b83dcc-a5ee-44dd-a484-d6d0da5ca989" SortOrder="0">singleNewsEvents</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>88a5026e-1de9-4daf-b77c-b377fc01b582</Key>
      <Name>Elements per page</Name>
      <Alias>elementsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set how many elements to show in each page for the current category. If not set default values is 3.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="knowledgeEventsSubpageInfo1">Knowledge &amp; Events Subpage Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>010cf925-3adb-4e4f-b997-74c42feec637</Key>
      <Name>News &amp; Events Blocks</Name>
      <Alias>newsEventsBlocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blockList">Block List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>68392c3a-043b-4929-b64d-bad0b463ba6f</Key>
      <Name>News &amp; Events Title</Name>
      <Alias>newsEventsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="knowledgeEventsSubpageInfo1">Knowledge &amp; Events Subpage Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>09382f75-78ec-407d-b6a2-71eb5621cd00</Key>
      <Caption>Block List</Caption>
      <Alias>blockList</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>2cfcc463-e2f0-4a53-ae72-2e11763b53ad</Key>
      <Caption>Knowledge &amp; Events Subpage Info</Caption>
      <Alias>knowledgeEventsSubpageInfo1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>