<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="548e13c7-9bd1-4c6f-86f1-8117b8bdac0c" Alias="policy" Level="1">
  <Info>
    <Name>Policy</Name>
    <Icon>icon-legal color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Policy</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1800e9d0-c097-47c0-bf01-44046f710b08">Policy</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ee50c840-33af-427e-a563-f4714ff37d0c</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageInfo">Page info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f58a9e74-0f41-49bc-b618-a4a1f8c4555f</Key>
      <Caption>Page info</Caption>
      <Alias>pageInfo</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>