<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d19bd1be-cc01-4310-85fa-292dd94e9aef" Alias="ricerche" Level="2">
  <Info>
    <Name>Ricerche</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+News%2cEventi%2cRicerche%2cAcademy%2cArea+Stampa</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Ricerche</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c90de75d-b50c-43de-81c2-28a8aa201a96">Ricerche</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="09d71027-94e5-433e-a426-a7de3ae2e0f8" SortOrder="0">ricercheAcademyCategoria</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d728d82e-15c7-473d-81a7-b8b9bdb14f78</Key>
      <Name>Altri Blocchi</Name>
      <Alias>altriBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sezioneAutomatica">Sezione automatica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7dc2c79d-b281-4e12-b291-812efc1cf186</Key>
      <Name>Blocchi</Name>
      <Alias>blocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76f691cf-3e6f-4f34-a04d-823431ed85c1</Key>
      <Name>Elementi Per Pagina</Name>
      <Alias>elementiPerPagina</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sezioneAutomatica">Sezione automatica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67318380-bb7f-4d70-a659-f6c854fb7fa6</Key>
      <Name>Mostrare Categorie Ricerche</Name>
      <Alias>mostrareCategorieRicerche</Alias>
      <Definition>323318cd-93f9-4962-98fe-8313d850af8f</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sezioneCategorieRicerche">Sezione Categorie Ricerche</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f646d833-2b1b-4b53-bb81-b32eb0d316f2</Key>
      <Name>Mostrare Listing</Name>
      <Alias>mostrareListing</Alias>
      <Definition>1d604c70-e1e8-4b1f-8947-4639303a0d4c</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sezioneAutomatica">Sezione automatica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf1e1824-57bb-4f0d-8ad8-8ccbc9f6f3ac</Key>
      <Name>Ordine Custom</Name>
      <Alias>ordineCustom</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inserire il livello di priorità con cui mostrare questa pagina nella barra di navigazione automatica]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ordinamento">Ordinamento</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>797927a1-19bf-41b0-b5ee-dc292edb835a</Key>
      <Name>Titolo Aggiornamenti</Name>
      <Alias>titoloAggiornamenti</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sezioneAutomatica">Sezione automatica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ad762563-0ef9-4c86-9493-19c74bd46938</Key>
      <Name>Titolo Sezione Ricerche</Name>
      <Alias>titoloSezioneRicerche</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sezioneCategorieRicerche">Sezione Categorie Ricerche</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c82ea01f-bcc6-4067-bf3f-9aa0b7d6fcf1</Key>
      <Name>Ultimi Blocchi</Name>
      <Alias>ultimiBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sezioneCategorieRicerche">Sezione Categorie Ricerche</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0c0ea658-6b6a-4ee3-beec-fcfe5b24e6c9</Key>
      <Caption>Sezione automatica</Caption>
      <Alias>sezioneAutomatica</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>673e1160-83aa-4042-afe7-65bc3fc18304</Key>
      <Caption>Sezione Categorie Ricerche</Caption>
      <Alias>sezioneCategorieRicerche</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8e6ba3aa-bce2-4aa2-a643-24ff47e733e1</Key>
      <Caption>Blocchi</Caption>
      <Alias>blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>bc732f62-5ed3-4183-a4bd-dcdfa3806793</Key>
      <Caption>Ordinamento</Caption>
      <Alias>ordinamento</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>