<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99a0700c-03a7-48e1-a4ab-048e3c65e911" Alias="sEO" Level="2">
  <Info>
    <Name>SEO</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>febb7dfd-923a-4099-95cb-52dbb492fea7</Key>
      <Name>Add Special Children</Name>
      <Alias>addSpecialChildren</Alias>
      <Definition>edf378bc-2f5f-4e35-9669-919fc7f6bea5</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/menuSettings">Menu Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>96ed3cd1-443f-4126-97dd-324d7687b7a8</Key>
      <Name>Hide Children In Menu</Name>
      <Alias>hideChildrenInMenu</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide all the children of this page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/menuSettings">Menu Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04a2ae48-756d-40d0-ab81-8f38137b91ee</Key>
      <Name>Hide From Xml Sitemap</Name>
      <Alias>hideFromXmlSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/xmlSitemapSettings">XML Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6fe644b-04ca-453f-8abb-e69afd294742</Key>
      <Name>Hide In Menu</Name>
      <Alias>hideInMenu</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide this page and all its children]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/menuSettings">Menu Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>069491b1-8801-4a47-a17b-46bbc3435920</Key>
      <Name>Internal Rewrite</Name>
      <Alias>internalRewrite</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If set, the current document is redirected to the selected page with an internal rewrite (code 200 OK)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3568c012-c888-433b-810c-d6735963a275</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Meta descriptions are HTML attributes that provide concise explanations of the content of web pages.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8850d667-ddf2-4253-ad65-64efb4b58a0c</Key>
      <Name>Meta Robots</Name>
      <Alias>metaRobots</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Leave blank if INDEX, FOLLOW is fine for this page; overwrite otherwise.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f83d7b6-75ac-4a08-9d8e-df290a433cb0</Key>
      <Name>Open Graph Description</Name>
      <Alias>openGraphDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seO/socialMedia">Social Media</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0483b78d-9ad7-4acc-8453-86bff2d2dea3</Key>
      <Name>Open Graph Image</Name>
      <Alias>openGraphImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Image to be used as a preview for social media sharing]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seO/socialMedia">Social Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5a9fbb02-da01-47b1-94ee-c4a6f8b42583</Key>
      <Name>Open Graph title</Name>
      <Alias>openGraphTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO/socialMedia">Social Media</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81439837-c268-4ca2-8a49-684ea094dd46</Key>
      <Name>Search Engine Change Frequency</Name>
      <Alias>searchEngineChangeFrequency</Alias>
      <Definition>1a9ac105-71c9-4e68-a7fb-ada1882bca9a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/xmlSitemapSettings">XML Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>595987cb-d64f-4533-af56-80f69b9504cb</Key>
      <Name>Search Engine Relative Priority</Name>
      <Alias>searchEngineRelativePriority</Alias>
      <Definition>999a697c-3057-4b0e-ba44-9185c3077cb2</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/xmlSitemapSettings">XML Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0bdfb666-7a71-43a5-8dca-5fffd47d9401</Key>
      <Name>Special Child</Name>
      <Alias>specialChild</Alias>
      <Definition>e4d31de0-aea6-4f6a-94b0-b2cdaaa2cd63</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/menuSettings">Menu Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7de443c2-4734-462f-ab20-44c4b4d67502</Key>
      <Name>Special Child Label</Name>
      <Alias>specialChildLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings/menuSettings">Menu Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3dc7b310-82ea-40fd-be57-1d8893504738</Key>
      <Name>Meta Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The meta title appears in the bar at the top of your browser window]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4674374-e9f5-4cbc-acd2-b501cd9536a4</Key>
      <Name>Internal Redirect 302</Name>
      <Alias>umbracoRedirect</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If set, the current document is redirected to the selected page with a 302 code]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40437cc3-afb2-43b7-a351-4e60f2876018</Key>
      <Name>Url Alias</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This property when created as a text string lets you provide a comma separated list of alternate full URL paths for the node.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e77a5e89-d260-40bf-8972-c0136d29ae7c</Key>
      <Name>Url Name</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use this property to override umbraco default url. Use only lowercase and replace gaps with dashes]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>39773e99-c200-4e7d-a777-7fea87cb536b</Key>
      <Caption>Menu Settings</Caption>
      <Alias>settings/menuSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>684f8994-27fc-4446-8908-bcb6b83bce13</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>960517fe-e9e3-49bb-83fd-038a95caf615</Key>
      <Caption>Social Media</Caption>
      <Alias>seO/socialMedia</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b82844bf-f8f7-45ec-8934-dd5dbab6ad7e</Key>
      <Caption>SEO</Caption>
      <Alias>seO</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d179670f-0c53-41ea-812c-e50bfe6d20b9</Key>
      <Caption>XML Sitemap Settings</Caption>
      <Alias>settings/xmlSitemapSettings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>