<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6019fee8-cf6b-4a6c-97ae-d4e4f936ae9d" Alias="service" Level="2">
  <Info>
    <Name>Service</Name>
    <Icon>icon-coin color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Business</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Service</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e107f4b1-1140-493a-ad06-02cd29d7678f">Service</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f95bc95b-b343-4e34-9de5-2f7082cd7383" SortOrder="0">solutions</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7a8fae7f-2b50-4e17-a9ba-83324c58f106</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[These blocks will be displayed before the "Our solutions" section]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="serviceInfo">Service Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc0df4c4-15ec-4c6e-a6cc-5bf7b80c76c4</Key>
      <Name>Cover Icon</Name>
      <Alias>coverIcon</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The icon of the card of the Service]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="serviceInfo">Service Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6164b4a-670b-4580-986a-266ef2268bf1</Key>
      <Name>Cover Image</Name>
      <Alias>coverImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="serviceInfo">Service Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b136de16-e193-4cd6-a089-eea11ceccbbc</Key>
      <Name>Latest Blocks</Name>
      <Alias>latestBlocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[These blocks will be displayed after the "Our solutions" section]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="serviceInfo">Service Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89917ee2-eec3-4092-8b72-caa82c791020</Key>
      <Name>Menu Keywords</Name>
      <Alias>menuKeywords</Alias>
      <Definition>a57fd375-1008-429f-8901-ae094798ef53</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This text will be displayed in the main menu]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="serviceInfo">Service Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>538f0389-b7ca-43f3-a9a0-0ce11bcf0958</Key>
      <Name>Related Articles Title</Name>
      <Alias>relatedArticlesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="relatedContent">Related Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>432eeba3-786c-4fa2-807f-e84ca71f338f</Key>
      <Name>Service Abstract</Name>
      <Alias>serviceAbstract</Alias>
      <Definition>a57fd375-1008-429f-8901-ae094798ef53</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This text will be displayed in the Service Card]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="serviceInfo">Service Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3281b9a-589c-4644-a329-8eb2f28631e1</Key>
      <Name>Service Description</Name>
      <Alias>serviceDescription</Alias>
      <Definition>372746db-19f0-45db-aa16-5f3730c1dac5</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="serviceInfo">Service Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00bc82b5-2657-4c94-a64e-570920b440da</Key>
      <Name>Service Title</Name>
      <Alias>serviceTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="serviceInfo">Service Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>807beb33-54e9-4526-9612-ff5e7f8f826c</Key>
      <Name>Show Related Articles</Name>
      <Alias>showRelatedArticles</Alias>
      <Definition>73899de9-6f88-4f98-a41a-dbbe7d6a285f</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to show related articles]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="relatedContent">Related Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>55f7dd16-acf8-4d4c-b3cc-6452e1d52a97</Key>
      <Caption>Related Content</Caption>
      <Alias>relatedContent</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>96d738e8-86d2-468f-9436-b3677e480dec</Key>
      <Caption>Service Info</Caption>
      <Alias>serviceInfo</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>