<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d5b83dcc-a5ee-44dd-a484-d6d0da5ca989" Alias="singleNewsEvents" Level="2">
  <Info>
    <Name>Knowledge &amp; Events Single</Name>
    <Icon>icon-post-it color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Knowledge</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>SingleNewsEvents</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="23e7fea3-b2ae-4d6f-a1f2-e43450449d22">SingleNewsEvents</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7e01410e-7ea9-46c7-ae36-433714f60291</Key>
      <Name>Attachment link</Name>
      <Alias>attachmentLink</Alias>
      <Definition>39ef72ab-8f6f-492e-a748-029d24eac116</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="attachment">Attachment</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4914b9c9-713a-4cc4-9ef4-010b67a2b5f6</Key>
      <Name>Banner CTA</Name>
      <Alias>bannerCTA</Alias>
      <Definition>c26645d9-8b1c-42d7-acb9-3ab375f82b86</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc361681-42ac-4fb0-ad35-32c0348dfd01</Key>
      <Name>Banner Text</Name>
      <Alias>bannerText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>772e658f-3df3-4da6-a253-50e418874c67</Key>
      <Name>Custom Date</Name>
      <Alias>customDate</Alias>
      <Definition>1703f677-9c47-441f-900c-0908c68b5d11</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This date will be used to sort the articles and will be displayed in the article and in its card]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="singleKnowledgeEventsInfo">Single Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ace365a6-3f88-4799-bdc7-3b53fa3cf05f</Key>
      <Name>Is a press release?</Name>
      <Alias>isAPressRelease</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If selected, this item is a press release. It does not have a detail page but only an attached pdf]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="attachment">Attachment</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7a98b498-518b-4084-839b-fe3864ecd7e2</Key>
      <Name>Related Articles Title</Name>
      <Alias>relatedArticlesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="relatedContent">Related Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08da2237-befe-403b-8a77-88be81e05a79</Key>
      <Name>Show Fixed Banner</Name>
      <Alias>showFixedBanner</Alias>
      <Definition>61aa63b5-a8d8-4ec3-a61d-0c1499b90d2d</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1ed85d05-9013-4276-bd6b-22c6eacb3c23</Key>
      <Name>Show Related Articles</Name>
      <Alias>showRelatedArticles</Alias>
      <Definition>603bc790-6433-4b16-b726-f105b3fd436b</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to show related articles]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="relatedContent">Related Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa20af9a-c1ec-4dc9-a826-6aeff564d9a2</Key>
      <Name>Single Knowledge &amp; Events Abstract</Name>
      <Alias>singleKnowledgeEventsAbstract</Alias>
      <Definition>a57fd375-1008-429f-8901-ae094798ef53</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This field is used only as text for the Trend Topics Card]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="singleKnowledgeEventsInfo">Single Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75af604d-73f7-434a-97ec-97b741506c24</Key>
      <Name>Single Knowledge &amp; Events Body</Name>
      <Alias>singleKnowledgeEventsBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This field is used only if auto populated via massive import]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="singleKnowledgeEventsInfo">Single Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0fffa136-75d5-476b-ad3b-252ab3529f33</Key>
      <Name>Single Knowledge Events Country</Name>
      <Alias>singleKnowledgeEventsCountry</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="singleKnowledgeEventsInfo">Single Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d50b15cf-fe7d-419e-9c4f-d0c7f9751ac7</Key>
      <Name>Single Knowledge Events Cover Image</Name>
      <Alias>singleKnowledgeEventsCoverImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="singleKnowledgeEventsInfo">Single Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cecbe2e3-519d-4178-9426-b0915d564a0d</Key>
      <Name>Single Knowledge &amp; Events Date and Location</Name>
      <Alias>singleKnowledgeEventsDateAndLocation</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Printed before the body, to be used for auto populated content via massive import]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="singleKnowledgeEventsInfo">Single Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b795e1ee-9aa5-4165-83c3-879e69e2b45c</Key>
      <Name>Single Knowledge &amp; Events Icon Title</Name>
      <Alias>singleKnowledgeEventsIconTitle</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="singleKnowledgeEventsInfo">Single Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27837114-2bfb-4382-bf9d-930bdfc7eed5</Key>
      <Name>Single Knowledge &amp; Events Latest Block</Name>
      <Alias>singleKnowledgeEventsLatestBlock</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blockList">Block List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d50f7903-ab12-402c-bdb6-c9c25e284fe5</Key>
      <Name>Single Knowledge Events Related Industries</Name>
      <Alias>singleKnowledgeEventsRelatedIndustries</Alias>
      <Definition>b608aacc-ac0e-4608-8ee0-06f1a3f3969d</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="relatedContent">Related Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ffc1e07-a222-4508-8b58-5482ce5c46ca</Key>
      <Name>Single Knowledge Events Related Services</Name>
      <Alias>singleKnowledgeEventsRelatedServices</Alias>
      <Definition>cfa02e62-0f6f-44a7-9c72-7afba5692394</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose related Services and Solutions]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="relatedContent">Related Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>32b26e99-a5bc-40c4-8b7e-8b71f774a84d</Key>
      <Name>Single Knowledge Events Related Solutions</Name>
      <Alias>singleKnowledgeEventsRelatedSolutions</Alias>
      <Definition>202c2a21-8d41-4824-a454-2c288cd00a94</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag to display a list of all solutions]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="relatedContent">Related Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>126f51ff-cf5b-4240-8504-97540286085f</Key>
      <Name>Single Knowledge Events Related Solutions Title</Name>
      <Alias>singleKnowledgeEventsRelatedSolutionsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="relatedContent">Related Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e5057126-ba04-445f-b52b-de769fd83a0f</Key>
      <Name>Single Knowledge &amp; Events Blocks</Name>
      <Alias>singleNewsEventsBlocks</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="singleKnowledgeEventsInfo">Single Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb78e735-8fc6-4656-81f3-e079a3f345c0</Key>
      <Name>Single Knowledge &amp; Events Title</Name>
      <Alias>singleNewsEventsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="singleKnowledgeEventsInfo">Single Knowledge &amp; Events Info</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>06f7d221-1701-4ea7-bfd7-83a742d59bba</Key>
      <Caption>Single Knowledge &amp; Events Info</Caption>
      <Alias>singleKnowledgeEventsInfo</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>7d1f3ef4-4eb9-44bd-9a3a-b35a2fa011fb</Key>
      <Caption>Attachment</Caption>
      <Alias>attachment</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>7f67ac80-364d-42e3-ac89-75746e22c6a7</Key>
      <Caption>Banner</Caption>
      <Alias>banner</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8d4296bb-bbe9-417c-bc4e-3ea1a719067c</Key>
      <Caption>Block List</Caption>
      <Alias>blockList</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>9c5f8dfb-e18a-4564-9876-71370ada816d</Key>
      <Caption>Related Content</Caption>
      <Alias>relatedContent</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>