<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eac49dfc-9bc6-43c9-a93a-8ef8859feaa7" Alias="soluzione" Level="2">
  <Info>
    <Name>Soluzione</Name>
    <Icon>icon-lightbulb-active color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Business</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Soluzione</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="13b27f96-5bc1-4d36-9c39-e380e6fc4151">Soluzione</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0d60661f-581a-4803-b2fe-3cfc0a8a56f3</Key>
      <Name>Abstract Soluzione</Name>
      <Alias>abstractSoluzione</Alias>
      <Definition>a57fd375-1008-429f-8901-ae094798ef53</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cardSoluzione">Card Soluzione</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b0bac57-46d7-420f-b94b-1d19a3132970</Key>
      <Name>Blocchi Soluzione</Name>
      <Alias>blocchiSoluzione</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>830ffb59-efbc-4899-bff5-5b4298548d24</Key>
      <Name>Immagine Hero Soluzione</Name>
      <Alias>immagineHeroSoluzione</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6841722a-ff61-4f82-872a-693944fbbf8e</Key>
      <Name>Mercati Di Riferimento</Name>
      <Alias>mercatiDiRiferimento</Alias>
      <Definition>1aed7a09-d300-474e-9c0c-0a3654420907</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questo campo va popolato unicamente per i tracciamenti, non ha alcun effetto al frontend. Qui vanno inseriti tutti i mercati che si vogliono legare al corrente contenuto]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="riferimenti">Riferimenti</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>97e8babf-82e3-4647-b244-cb1416f6ed1d</Key>
      <Name>Mostrare Sezione Automatica</Name>
      <Alias>mostrareSezioneAutomatica</Alias>
      <Definition>8aa9e27d-1b5d-4efc-9ca5-5c73e7b8b5db</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sezioneAutomatica">Sezione automatica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03d02b92-f225-499d-a17a-026c5cc3cf1a</Key>
      <Name>Titolo Hero Soluzione</Name>
      <Alias>titoloHeroSoluzione</Alias>
      <Definition>8f52e835-c928-41c9-9cc0-317cbd31d71d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d8649c25-2800-4790-bf1c-8cfc5babae7a</Key>
      <Name>Titolo Sezione Automatica</Name>
      <Alias>titoloSezioneAutomatica</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sezioneAutomatica">Sezione automatica</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3758dda8-496d-4981-94e7-ae2780e4c588</Key>
      <Caption>Blocchi</Caption>
      <Alias>blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>4ddcc2b7-7683-43d9-9d30-485ed20e3bef</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5193ce4c-190e-42cd-845c-b8ce9ec37e5e</Key>
      <Caption>Riferimenti</Caption>
      <Alias>riferimenti</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>934fcdb1-6e18-4276-bf63-0a78f354b0b2</Key>
      <Caption>Card Soluzione</Caption>
      <Alias>cardSoluzione</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>ab64a336-72b1-45a9-9aa7-5f2ea789983d</Key>
      <Caption>Sezione automatica</Caption>
      <Alias>sezioneAutomatica</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>