<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="50afc906-3fe7-43af-9ed1-75843c9c55a6" Alias="trendTopics" Level="2">
  <Info>
    <Name>Trend Topics</Name>
    <Icon>icon-chart-curve color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Section+-+Business</Folder>
    <Compositions>
      <Composition Key="99a0700c-03a7-48e1-a4ab-048e3c65e911">sEO</Composition>
    </Compositions>
    <DefaultTemplate>TrendTopics</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="494d810a-e347-4afd-b30b-6a3bdbfd68f6">TrendTopics</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="165e419a-4b07-4353-a937-b24401d48795" SortOrder="0">trendTopicTag</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>95f2708b-8d7e-4758-a8cf-2a893b95d2a0</Key>
      <Name>Altri Blocchi</Name>
      <Alias>altriBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questi blocchi verranno mostrati dopo la sezione automatica di listing]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sezioneListing">Sezione Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dfcddd04-5a38-46b4-8c49-a52caa5fb46f</Key>
      <Name>Descrizione Trend</Name>
      <Alias>descrizioneTrend</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81df3031-f64f-46c1-82e8-68af40b35a57</Key>
      <Name>Elementi Per Pagina</Name>
      <Alias>elementiPerPagina</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sezioneListing">Sezione Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d30f55aa-334a-416d-a448-ff5db80be48d</Key>
      <Name>Mostrare Listing</Name>
      <Alias>mostrareListing</Alias>
      <Definition>3848d51f-56c1-4669-be3b-0dbb85aae97d</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sezioneListing">Sezione Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c389ea2b-840c-4bd4-90ea-5af0c094928d</Key>
      <Name>Primi Blocchi</Name>
      <Alias>primiBlocchi</Alias>
      <Definition>d7267ebc-986d-4cb5-a48d-8ee8c1f8b73f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Questi blocchi verranno mostrati prima della sezione di listing automatica]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocchi">Blocchi</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a77dbafd-ef08-40d0-9beb-ba937493d51c</Key>
      <Name>Titolo Listing</Name>
      <Alias>titoloListing</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sezioneListing">Sezione Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa283eae-d9fb-4174-b489-01a6e6164896</Key>
      <Name>Titolo Trend</Name>
      <Alias>titoloTrend</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5d0a6083-3352-40c9-a0d0-7f3ae66ba193</Key>
      <Caption>Sezione Listing</Caption>
      <Alias>sezioneListing</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>6c92dc4b-8b18-4860-9df5-e21a7889c0cd</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a4276276-6685-4c65-8e10-91430cd8fe95</Key>
      <Caption>Blocchi</Caption>
      <Alias>blocchi</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>