<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="160ddef1-b8ed-4f83-ad19-691a9518e08c" Alias="xmlSiteMap" Level="1">
  <Info>
    <Name>XmlSiteMap</Name>
    <Icon>icon-network-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>XmlSiteMap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="615fe428-2db7-4784-8306-893e0654f9b3">XmlSiteMap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>03c97f24-74e8-453b-9ab4-7c75d08aca41</Key>
      <Name>Document Sitemap</Name>
      <Alias>documentSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flag this field if you want to create a sitemap of the pubblished pdf Documents]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sitemapOfDocument">Sitemap Of Document</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3aedeae-87e4-4eb0-b957-59abc7981b75</Key>
      <Name>Excluded Document Types</Name>
      <Alias>excludedDocumentTypes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sitemapConfiguration">Sitemap Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08b90896-e59d-474e-9f16-977b0d4a22af</Key>
      <Name>Is Index</Name>
      <Alias>isIndex</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check if it is needed as index to other sitemap]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sitemapConfiguration">Sitemap Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76ad72ca-118e-40aa-9d5a-fdcc9df22f28</Key>
      <Name>Start Node</Name>
      <Alias>startNode</Alias>
      <Definition>86802373-6e57-497f-a57c-9b4917a5cf60</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If not selected starts from root]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sitemapConfiguration">Sitemap Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9534e2b0-e7e4-415f-a205-8ab616fe5316</Key>
      <Caption>Sitemap Configuration</Caption>
      <Alias>sitemapConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a9d3693c-1628-4c62-999d-38dde2f26569</Key>
      <Caption>Sitemap Of Document</Caption>
      <Alias>sitemapOfDocument</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>